html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}
main {
    display: block
}
h1 {
    margin: .67em 0;
    font-size: 2em
}
hr {
    overflow: hidden;
    height: 0;
    box-sizing: content-box
}
pre {
    font-family: monospace;
    font-size: 1em
}
a {
    background-color: transparent
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}
b, strong {
    font-weight: bolder
}
code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em
}
small {
    font-size: 80%
}
sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}
sub {
    bottom: -.25em
}
sup {
    top: -.5em
}
img {
    border-style: none
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15
}
button, input {
    overflow: visible
}
button, select {
    text-transform: none
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button
}
[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    padding: 0;
    border-style: none
}
[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText
}
fieldset {
    padding: .35em .75em .625em
}
legend {
    display: table;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0;
    color: inherit;
    white-space: normal
}
progress {
    vertical-align: baseline
}
textarea {
    overflow: auto
}
[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0
}
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}
[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}
details {
    display: block
}
summary {
    display: list-item
}
[hidden], template {
    display: none
}
@font-face {
    font-display: swap;
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: 300;
    src: local("HK Grotesk Light"), local("HKGrotesk-Light"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Light.eot);
    src: local("HK Grotesk Light"), local("HKGrotesk-Light"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Light.eot#iefix) format("embedded-opentype"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Light.woff2) format("woff2"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Light.woff) format("woff"), url(https://cdn-images.zety.com/fonts/otf/HKGrotesk-Light.otf) format("otf"), url(https://cdn-images.zety.com/fonts/ttf/HKGrotesk-Light.ttf) format("truetype")
}
@font-face {
    font-display: swap;
    font-family: HK Grotesk;
    font-style: italic;
    font-weight: 300;
    src: local("HK Grotesk Light Italic"), local("HKGrotesk-LightItalic"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-LightItalic.eot);
    src: local("HK Grotesk Light Italic"), local("HKGrotesk-LightItalic"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-LightItalic.eot#iefix) format("embedded-opentype"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-LightItalic.woff2) format("woff2"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-LightItalic.woff) format("woff"), url(https://cdn-images.zety.com/fonts/otf/HKGrotesk-LightItalic.otf) format("otf"), url(https://cdn-images.zety.com/fonts/ttf/HKGrotesk-LightItalic.ttf) format("truetype")
}
@font-face {
    font-display: swap;
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: 400;
    src: local("HK Grotesk Regular"), local("HKGrotesk-Regular"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Regular.eot);
    src: local("HK Grotesk Regular"), local("HKGrotesk-Regular"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Regular.eot#iefix) format("embedded-opentype"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Regular.woff2) format("woff2"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Regular.woff) format("woff"), url(https://cdn-images.zety.com/fonts/otf/HKGrotesk-Regular.otf) format("otf"), url(https://cdn-images.zety.com/fonts/ttf/HKGrotesk-Regular.ttf) format("truetype")
}
@font-face {
    font-display: swap;
    font-family: HK Grotesk;
    font-style: italic;
    font-weight: 400;
    src: local("HK Grotesk Italic"), local("HKGrotesk-Italic"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Italic.eot);
    src: local("HK Grotesk Italic"), local("HKGrotesk-Italic"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Italic.eot#iefix) format("embedded-opentype"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Italic.woff2) format("woff2"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Italic.woff) format("woff"), url(https://cdn-images.zety.com/fonts/otf/HKGrotesk-Italic.otf) format("otf"), url(https://cdn-images.zety.com/fonts/ttf/HKGrotesk-Italic.ttf) format("truetype")
}
@font-face {
    font-display: swap;
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: 500;
    src: local("HK Grotesk Semi Bold"), local("HKGrotesk-SemiBold"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-SemiBold.eot);
    src: local("HK Grotesk Semi Bold"), local("HKGrotesk-SemiBold"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-SemiBold.eot#iefix) format("embedded-opentype"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-SemiBold.woff2) format("woff2"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-SemiBold.woff) format("woff"), url(https://cdn-images.zety.com/fonts/otf/HKGrotesk-SemiBold.otf) format("otf"), url(https://cdn-images.zety.com/fonts/ttf/HKGrotesk-SemiBold.ttf) format("truetype")
}
@font-face {
    font-display: swap;
    font-family: HK Grotesk;
    font-style: italic;
    font-weight: 500;
    src: local("HK Grotesk Semi Bold Italic"), local("HKGrotesk-SemiBoldItalic"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-SemiBoldItalic.eot);
    src: local("HK Grotesk Semi Bold Italic"), local("HKGrotesk-SemiBoldItalic"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-SemiBoldItalic.eot#iefix) format("embedded-opentype"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-SemiBoldItalic.woff2) format("woff2"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-SemiBoldItalic.woff) format("woff"), url(https://cdn-images.zety.com/fonts/otf/HKGrotesk-SemiBoldItalic.otf) format("otf"), url(https://cdn-images.zety.com/fonts/ttf/HKGrotesk-SemiBoldItalic.ttf) format("truetype")
}
@font-face {
    font-display: swap;
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: 600;
    src: local("HK Grotesk Bold"), local("HKGrotesk-Bold"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Bold.eot);
    src: local("HK Grotesk Bold"), local("HKGrotesk-Bold"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Bold.eot#iefix) format("embedded-opentype"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Bold.woff2) format("woff2"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Bold.woff) format("woff"), url(https://cdn-images.zety.com/fonts/otf/HKGrotesk-Bold.otf) format("otf"), url(https://cdn-images.zety.com/fonts/ttf/HKGrotesk-Bold.ttf) format("truetype")
}
@font-face {
    font-display: swap;
    font-family: HK Grotesk;
    font-style: italic;
    font-weight: 600;
    src: local("HK Grotesk Bold Italic"), local("HKGrotesk-BoldItalic"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-BoldItalic.eot);
    src: local("HK Grotesk Bold Italic"), local("HKGrotesk-BoldItalic"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-BoldItalic.eot#iefix) format("embedded-opentype"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-BoldItalic.woff2) format("woff2"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-BoldItalic.woff) format("woff"), url(https://cdn-images.zety.com/fonts/otf/HKGrotesk-BoldItalic.otf) format("otf"), url(https://cdn-images.zety.com/fonts/ttf/HKGrotesk-BoldItalic.ttf) format("truetype")
}
html {
    box-sizing: border-box;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.5;
    overflow-x: hidden
}
body {
    color: #233143;
    font-family: HK Grotesk, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5
}
*, body, ol, ul {
    padding: 0;
    margin: 0
}
*, ol, ul {
    box-sizing: border-box
}
h1, h2, h3, h4 {
    padding: 0;
    margin: 0
}
a {
    cursor: pointer;
    font-weight: 500
}
a, a:active, a:focus, a:hover {
    color: #3983fa;
    text-decoration: none
}
img {
    max-width: 100%
}
img[data-src] {
    min-height: .1rem;
    opacity: 0;
    transition: opacity .25s cubic-bezier(.45, .05, .55, .95) 0ms;
    transition-delay: .5s
}
img[data-src][data-loaded=true] {
    opacity: 1
}
img[width][height] {
    width: 100%;
    height: auto
}
.text--blue {
    color: #3983fa
}
.text--red {
    color: #e44747
}
.overflow-x--hidden {
    overflow-x: hidden
}
.no-js [data-loaded=false] {
    display: none
}
.grid {
    position: relative;
    width: 100%;
    min-height: .1rem;
    box-sizing: border-box;
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 0 auto
}
@media only screen and (min-width:768px) {
    .grid {
        max-width: 102.2rem;
        padding-right: 1.4rem;
        padding-left: 1.4rem
    }
}
@media only screen and (min-width:1140px) {
    .grid {
        max-width: 117.4rem;
        padding-right: 1.7rem;
        padding-left: 1.7rem
    }
}
.grid__row {
    display: -webkit-flex;
    display: flex;
    min-height: .1rem;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem
}
@media only screen and (min-width:768px) {
    .grid__row {
        margin-right: -1.4rem;
        margin-left: -1.4rem
    }
}
@media only screen and (min-width:1140px) {
    .grid__row {
        margin-right: -1.7rem;
        margin-left: -1.7rem
    }
}
.grid__row--center {
    -webkit-justify-content: center;
    justify-content: center
}
[class*=grid__column--] {
    padding-right: 1rem;
    padding-left: 1rem
}
@media only screen and (min-width:768px) {
    [class*=grid__column--] {
        padding-right: 1.4rem;
        padding-left: 1.4rem
    }
}
@media only screen and (min-width:1140px) {
    [class*=grid__column--] {
        padding-right: 1.7rem;
        padding-left: 1.7rem
    }
}
.grid__column--phone--4 {
    max-width: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%
}
@media only screen and (min-width:768px) {
    .grid__column--tablet--4 {
        max-width: 33.33333%;
        -webkit-flex-basis: 33.33333%;
        flex-basis: 33.33333%
    }
}
@media only screen and (min-width:768px) {
    .grid__column--tablet--5 {
        max-width: 41.66667%;
        -webkit-flex-basis: 41.66667%;
        flex-basis: 41.66667%
    }
}
@media only screen and (min-width:768px) {
    .grid__column--tablet--6 {
        max-width: 50%;
        -webkit-flex-basis: 50%;
        flex-basis: 50%
    }
}
@media only screen and (min-width:768px) {
    .grid__column--tablet--7 {
        max-width: 58.33333%;
        -webkit-flex-basis: 58.33333%;
        flex-basis: 58.33333%
    }
}
@media only screen and (min-width:1140px) {
    .grid__column--desktop--6 {
        max-width: 50%;
        -webkit-flex-basis: 50%;
        flex-basis: 50%
    }
}
@media only screen and (min-width:1140px) {
    .grid__column--desktop--9 {
        max-width: 75%;
        -webkit-flex-basis: 75%;
        flex-basis: 75%
    }
}
@media only screen and (min-width:1140px) {
    .grid__column--desktop--3 {
        max-width: 25%;
        -webkit-flex-basis: 25%;
        flex-basis: 25%
    }
}
@media only screen and (min-width:1140px) {
    .grid__column--offset--desktop--3 {
        margin-left: 25%
    }
}
.button {
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    border: .3rem solid;
    -webkit-appearance: none;
    font-weight: 600;
    outline: 0;
    text-align: center;
    text-transform: uppercase;
    transition: background-color .25s cubic-bezier(.45, .05, .55, .95) 0ms, border-color .25s cubic-bezier(.45, .05, .55, .95) 0ms, box-shadow .25s cubic-bezier(.45, .05, .55, .95) 0ms, color .25s cubic-bezier(.45, .05, .55, .95) 0ms, opacity .25s cubic-bezier(.45, .05, .55, .95) 0ms;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap
}
.button, .button[type] {
    cursor: pointer
}
.button:active, .button:focus, .button:hover {
    text-decoration: none
}
@media only screen and (max-width:767px) {
    .button {
        white-space: normal
    }
}
.button--medium {
    padding: 1.5rem 2.5rem 1.3rem;
    font-size: 1.6rem
}
.button--big, .button--medium {
    border-radius: 3.2rem;
    line-height: 1
}
.button--big {
    padding: 1.4rem 1.3rem 1.2rem;
    font-size: 1.4rem
}
@media only screen and (max-width:767px) {
    .button--big {
        line-height: 1.5
    }
}
@media only screen and (min-width:768px) {
    .button--big {
        padding: 2rem 5.6rem 1.8rem;
        font-size: 1.8rem
    }
}
.button--red {
    border-color: #e44747;
    background: #e44747;
    color: #fff
}
.button--red:hover {
    border-color: #d04141;
    background: #d04141;
    color: #fff
}
.button--red:active {
    border-color: #a71f1f;
    background: #e44747;
    color: #fff
}
.button--red:focus {
    box-shadow: 0 .4rem 4rem -.5rem #e44747;
    color: #fff
}
.button--red:hover:focus, .button--red:hover:focus:active {
    color: #fff
}
.button--blue {
    border-color: #3983fa;
    background: #3983fa;
    color: #fff
}
.button--blue:hover {
    border-color: #293f71;
    background: #293f71;
    color: #fff
}
.button--blue:active {
    border-color: rgba(41, 63, 113, .6);
    background: #3983fa;
    color: #fff
}
.button--blue:focus {
    box-shadow: 0 .4rem 4rem -.5rem #3983fa;
    color: #fff
}
.button--blue:hover:focus, .button--blue:hover:focus:active {
    color: #fff
}
.button--white {
    border-color: #fff;
    background: #fff;
    color: #3983fa
}
.button--white:hover {
    border-color: transparent;
    background: hsla(0, 0%, 100%, .6);
    color: #3983fa
}
.button--white:active {
    border-color: #3983fa;
    background: #fff;
    color: #3983fa
}
.button--white:focus {
    box-shadow: 0 .4rem 4rem -.5rem rgba(41, 63, 113, .6);
    color: #3983fa
}
.button--white:hover:focus, .button--white:hover:focus:active {
    color: #3983fa
}
.button--light-blue {
    border-color: #f1f8fe;
    background: #f1f8fe;
    color: #3983fa
}
.button--light-blue:hover {
    border-color: #3983fa;
    background: #3983fa;
    color: #fff
}
.button--light-blue:active {
    border-color: #3983fa;
    background: #f1f8fe;
    color: #3983fa
}
.button--light-blue:focus {
    box-shadow: 0 .4rem 4rem -.5rem #3983fa;
    color: #3983fa
}
.button--light-blue:hover:focus {
    color: #fff
}
.button--light-blue:hover:focus:active {
    color: #3983fa
}
.button--blue-line {
    border-color: #3983fa;
    background: transparent;
    color: #3983fa
}
.button--blue-line:hover {
    border-color: #293f71;
    background: #293f71;
    color: #fff
}
.button--blue-line:active {
    border-color: rgba(41, 63, 113, .6);
    background: #3983fa;
    color: #fff
}
.button--blue-line:focus {
    box-shadow: 0 .4rem 4rem -.5rem #3983fa;
    color: #3983fa
}
.button--blue-line:hover:focus, .button--blue-line:hover:focus:active {
    color: #fff
}
.h1, h1 {
    font-size: 3.5rem;
    line-height: 1.25;
    padding: 0;
    margin: 0;
    font-weight: 500
}
@media only screen and (min-width:768px) {
    .h1, h1 {
        font-size: 4.4rem
    }
}
.h2, h2 {
    font-size: 2.9rem;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    font-weight: 500
}
@media only screen and (min-width:768px) {
    .h2, h2 {
        font-size: 3.6rem
    }
}
.h3, h3 {
    font-size: 2.1rem;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    font-weight: 500
}
@media only screen and (min-width:768px) {
    .h3, h3 {
        font-size: 2.6rem
    }
}
.h5, h5 {
    font-size: 1.6rem;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    font-weight: 500
}
@media only screen and (min-width:768px) {
    .h5, h5 {
        font-size: 1.8rem
    }
}
.text--white {
    color: #fff
}
.text--center {
    text-align: center;
    margin-right: auto;
    margin-left: auto
}
@media only screen and (min-width:768px) {
    .text--width-xsmall {
        max-width: 50rem
    }
}
.mt-15--phone {
    margin-top: 1.5rem
}
.mt-25--phone {
    margin-top: 2.5rem
}
.mt-35--phone {
    margin-top: 3.5rem
}
@media only screen and (min-width:768px) {
    .mt-40--tablet {
        margin-top: 4rem
    }
}
@media only screen and (min-width:1140px) {
    .mt-25--desktop {
        margin-top: 2.5rem
    }
}
@media only screen and (min-width:1140px) {
    .mt-50--desktop {
        margin-top: 5rem
    }
}
.mb-20--phone {
    margin-bottom: 2rem
}
.mb-40--phone {
    margin-bottom: 4rem
}
@media only screen and (min-width:768px) {
    .mb-45--tablet {
        margin-bottom: 4.5rem
    }
}
@media only screen and (min-width:768px) {
    .mb-60--tablet {
        margin-bottom: 6rem
    }
}
.section--large {
    padding-top: 6rem;
    padding-bottom: 6rem
}
@media only screen and (min-width:768px) {
    .section--large {
        padding-top: 10rem;
        padding-bottom: 10rem
    }
}
@media only screen and (min-width:1140px) {
    .section--large {
        padding-top: 10rem;
        padding-bottom: 10rem
    }
}
.section--medium {
    padding-top: 4rem;
    padding-bottom: 4rem
}
@media only screen and (min-width:768px) {
    .section--medium {
        padding-top: 6rem;
        padding-bottom: 6rem
    }
}
.section--small {
    padding-top: 2rem;
    padding-bottom: 2rem
}
@media only screen and (min-width:768px) {
    .section--small {
        padding-top: 3rem;
        padding-bottom: 3rem
    }
}
@media only screen and (min-width:1140px) {
    .section--small {
        padding-top: 4rem;
        padding-bottom: 4rem
    }
}
.section--no-height {
    height: 0
}
.section--minus-mb {
    margin-bottom: -10rem
}
@media only screen and (min-width:1140px) {
    .section--minus-mb {
        margin-bottom: -14rem
    }
}
.no-js .section--two-border, .section--two-border {
    border-top: .1rem solid rgba(35, 49, 67, .05);
    border-bottom: .1rem solid rgba(35, 49, 67, .05)
}
.no-js .section--white, .section--white {
    background: #fff
}
.no-js .section--triangles, .section--triangles {
    background: #3983fa url(https://cdn-images.zety.com/images/common/patterns/triangles-400.jpg) repeat 50%;
    background-size: 40.2rem 40.2rem
}
@media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
    .no-js .section--triangles, .section--triangles {
        background-image: url(https://cdn-images.zety.com/images/common/patterns/triangles-400@2x.jpg)
    }
}
@media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
    .no-js .section--triangles, .section--triangles {
        background-image: url(https://cdn-images.zety.com/images/common/patterns/triangles-400@3x.jpg)
    }
}
.lazyload {
    background: none
}
.hamburger {
    display: inline-block;
    overflow: visible;
    border: 0;
    margin: 0;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    font: inherit;
    font-size: 0;
    text-transform: none;
    transition-duration: .15s;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    transition-timing-function: linear
}
.hamburger__box {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 3rem;
    height: 3rem
}
.hamburger__inner {
    top: 50%;
    display: block;
    margin-top: -.2rem
}
.hamburger__inner, .hamburger__inner:after, .hamburger__inner:before {
    position: absolute;
    width: 3rem;
    height: .4rem;
    background-color: #233143;
    transition-duration: .15s;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-timing-function: ease
}
.hamburger__inner:after, .hamburger__inner:before {
    display: block;
    content: ""
}
.hamburger__inner:before {
    top: -.9rem;
    transition: top 75ms ease .12s, opacity 75ms ease
}
.hamburger__inner:after {
    bottom: -.9rem;
    transition: bottom 75ms ease .12s, -webkit-transform 75ms cubic-bezier(.55, .05, .68, .19);
    transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55, .05, .68, .19);
    transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55, .05, .68, .19), -webkit-transform 75ms cubic-bezier(.55, .05, .68, .19)
}
.hamburger--close .hamburger__inner {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(.22, .61, .35, 1)
}
.hamburger--close .hamburger__inner:after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: bottom 75ms ease, -webkit-transform 75ms cubic-bezier(.22, .61, .35, 1) .12s;
    transition: bottom 75ms ease, transform 75ms cubic-bezier(.22, .61, .35, 1) .12s;
    transition: bottom 75ms ease, transform 75ms cubic-bezier(.22, .61, .35, 1) .12s, -webkit-transform 75ms cubic-bezier(.22, .61, .35, 1) .12s
}
.hamburger--close .hamburger__inner:before {
    top: 0;
    opacity: 0;
    transition: top 75ms ease, opacity 75ms ease .12s
}
.hamburger--arrow .hamburger__inner:after {
    bottom: -.6rem;
    -webkit-transform: translate3d(-.8rem, 0, 0) rotate(45deg) scaleX(.7);
    transform: translate3d(-.8rem, 0, 0) rotate(45deg) scaleX(.7)
}
.hamburger--arrow .hamburger__inner:before {
    top: -.6rem;
    -webkit-transform: translate3d(-.8rem, 0, 0) rotate(-45deg) scaleX(.7);
    transform: translate3d(-.8rem, 0, 0) rotate(-45deg) scaleX(.7)
}
.mediabar {
    display: inline-block;
    cursor: default;
    font-size: 0;
    line-height: 0;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}
@media only screen and (min-width:768px) {
    .mediabar {
        display: block
    }
}
.mediabar__section {
    position: relative;
    z-index: 1;
    margin-top: -5rem
}
@media only screen and (min-width:768px) {
    .mediabar__section {
        margin-top: -9.8rem
    }
}
.mediabar__title {
    margin-bottom: 2.4rem;
    color: #233143;
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 2.7rem
}
@media only screen and (min-width:768px) {
    .mediabar__title {
        font-size: 2.4rem
    }
}
@media only screen and (min-width:768px) {
    .mediabar__icons {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between
    }
}
.mediabar__item {
    display: inline-block;
    width: auto;
    height: 1.65rem;
    margin: 1.5rem 2rem;
    transition: fill .25s cubic-bezier(.45, .05, .55, .95) 0ms;
    vertical-align: middle
}
.mediabar__item:hover {
    fill: #3983fa;
    cursor: pointer
}
@media only screen and (min-width:768px) {
    .mediabar__item {
        margin: 1rem 2rem
    }
}
@media only screen and (min-width:1140px) {
    .mediabar__item {
        height: 2rem;
        margin: 0
    }
}
.mediabar__item--goldenline {
    height: 4.8rem
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    99% {
        width: 38rem;
        height: auto;
        opacity: .01
    }
    to {
        width: 0;
        height: 0;
        opacity: 0
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1
    }
    99% {
        width: 38rem;
        height: auto;
        opacity: .01
    }
    to {
        width: 0;
        height: 0;
        opacity: 0
    }
}
@-webkit-keyframes fadeIn {
    0% {
        width: 0;
        height: 0;
        opacity: 0
    }
    99% {
        width: 0;
        height: 0;
        opacity: .01
    }
    to {
        width: 38rem;
        height: auto;
        opacity: 1
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
.cookie-policy {
    position: fixed;
    z-index: 99;
    right: 5%;
    bottom: 2rem;
    width: 38rem;
    max-width: 90%;
    padding: 2rem;
    background: #3983fa;
    border-radius: .4rem;
    color: #fff
}
@media only screen and (min-width:768px) {
    .cookie-policy {
        right: 2rem
    }
}
.cookie-policy:not(.cookie-policy--visible) {
    -webkit-animation: fadeout .5s;
    animation: fadeOut .5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}
.cookie-policy--visible {
    display: block;
    -webkit-animation: fadein .5s;
    animation: fadeIn .5s;
    opacity: 1
}
.cookie-policy--hidden {
    display: none
}
.cookie-policy a {
    color: #f1f8fe;
    text-decoration: underline
}
.cookie-policy__button {
    margin-top: 2rem
}
.footer {
    padding: 4.5rem 0;
    background: #fafafb;
    overflow-x: hidden
}
@media only screen and (min-width:768px) {
    .footer {
        padding: 2rem 0
    }
}
.footer__wrapper {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    line-height: 1.4
}
@media only screen and (min-width:768px) {
    .footer__wrapper {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        -webkit-justify-content: space-between;
        justify-content: space-between
    }
}
@media only screen and (min-width:1140px) {
    .footer__wrapper {
        -webkit-align-items: flex-end;
        align-items: flex-end
    }
}
.footer__wrapper-bottom {
    padding-top: 1rem;
    border-top: .1rem solid #e8e8e8;
    margin-top: 1.5rem
}
.footer__sm {
    list-style: none
}
.footer__sm__item {
    display: inline-block;
    padding-right: 1.4rem
}
.footer__sm__wrapper {
    margin-top: 1.5rem
}
@media only screen and (min-width:768px) {
    .footer__sm__wrapper {
        margin: 0;
        vertical-align: text-bottom
    }
}
@media only screen and (min-width:1140px) {
    .footer__sm__wrapper {
        display: inline-block
    }
}
.footer__sm svg {
    width: auto;
    max-width: 2rem;
    height: 2rem;
    fill: #233143;
    transition: fill .25s cubic-bezier(.45, .05, .55, .95) 0ms
}
@media only screen and (min-width:768px) {
    .footer__sm svg {
        display: inline-block;
        vertical-align: middle
    }
}
.footer__sm svg:hover {
    fill: #3983fa
}
.footer__links {
    list-style: none
}
@media only screen and (min-width:768px) {
    .footer__links {
        display: inline-block;
        text-align: right
    }
}
@media only screen and (min-width:1140px) {
    .footer__links {
        margin-right: 2rem
    }
    .footer__links:after {
        content: "|"
    }
}
@media only screen and (min-width:768px) {
    .footer__links-wrapper {
        text-align: right
    }
}
.footer__links__item {
    margin: 0 0 1.5rem
}
@media only screen and (min-width:768px) {
    .footer__links__item {
        display: inline-block;
        margin: 1.5rem
    }
}
.footer__links__link {
    color: #233143;
    font-weight: 400;
    transition: color .25s cubic-bezier(.45, .05, .55, .95) 0ms
}
.footer__links__link:hover {
    text-decoration: none
}
.footer__copyright {
    margin: 4.5rem 0 0;
    color: #676b78
}
@media only screen and (min-width:768px) and (max-width:1139px) {
    .footer__copyright {
        -webkit-flex-basis: 30%;
        flex-basis: 30%
    }
}
@media only screen and (min-width:768px) {
    .footer__copyright {
        margin: 1.5rem 0
    }
}
.footer__bottom {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}
@media only screen and (min-width:768px) {
    .footer__bottom {
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between
    }
}
.footer__bottom .footer__title {
    color: #676b78
}
.footer__langlist {
    display: -webkit-flex;
    display: flex;
    min-height: 4.4rem
}
@media only screen and (min-width:768px) {
    .footer__langlist {
        min-width: 60rem;
        max-width: unset
    }
}
.footer__langlist .footer__title {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem
}
.footer__langlist--list {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
    list-style: none
}
.footer__langlist--link {
    display: block;
    padding: 1.1rem .5rem
}
.footer__phone {
    display: -webkit-flex;
    display: flex;
    min-height: 4.4rem;
    -webkit-align-items: center;
    align-items: center
}
.footer__phone--link {
    padding: 1.1rem .5rem;
    color: #233143;
    transition: color .25s cubic-bezier(.45, .05, .55, .95) 0ms
}
.footer__images {
    margin-top: 1rem
}
@media only screen and (min-width:768px) {
    .footer__images {
        height: auto;
        margin-top: 0
    }
}
.footer__images-item {
    display: inline-block;
    height: 3rem;
    margin: 0 2rem 0 0
}
@media only screen and (min-width:768px) {
    .footer__images-item {
        margin: 0 0 0 2rem
    }
}
.header {
    position: fixed;
    z-index: 10;
    top: 0;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 7.6rem;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    border-bottom: .1rem solid #f1f8fe;
    background: #fff;
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
    transition: background-color .25s cubic-bezier(.45, .05, .55, .95) 0ms, -webkit-transform .25s cubic-bezier(.45, .05, .55, .95) 0ms;
    transition: transform .25s cubic-bezier(.45, .05, .55, .95) 0ms, background-color .25s cubic-bezier(.45, .05, .55, .95) 0ms;
    transition: transform .25s cubic-bezier(.45, .05, .55, .95) 0ms, background-color .25s cubic-bezier(.45, .05, .55, .95) 0ms, -webkit-transform .25s cubic-bezier(.45, .05, .55, .95) 0ms
}
@media only screen and (min-width:768px) {
    .header {
        height: 9.4rem
    }
}
@media only screen and (min-width:1140px) {
    .header {
        height: 11.4rem;
        border: none
    }
}
.header__grid {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between
}
.header__logo {
    position: relative;
    z-index: 2;
    padding-right: 1.6rem
}
@media only screen and (min-width:1140px) {
    .header__logo {
        max-width: 19.1rem
    }
}
.header__logo__link {
    font-size: 0;
    line-height: 0
}
@media only screen and (max-width:1139px) {
    .header__lang {
        z-index: 3;
        display: block;
        width: 30rem;
        margin: 0 auto;
        color: #233143;
        font-size: 2rem;
        font-weight: 400
    }
    .header__lang .language-switcher__active:after {
        display: none
    }
}
@media only screen and (min-width:1140px) {
    .header__lang {
        margin: 0 2.4rem 0 0;
        text-align: left
    }
}
.header__hamburger {
    font-size: 0
}
@media only screen and (min-width:1140px) {
    .header__hamburger {
        display: none
    }
}
.header__menu {
    display: none
}
@media only screen and (max-width:767px) {
    .header__menu {
        height: 100vh;
        padding-top: 7.6rem
    }
    .header__menu:before {
        height: 7.6rem
    }
}
@media only screen and (max-width:1139px) {
    .header__menu {
        right: 0;
        display: none;
        max-height: 100vh;
        padding: 9.4rem 0 2rem;
        border-radius: 0 0 .4rem .4rem;
        box-shadow: 0 2.3rem 4rem 0 rgba(0, 0, 0, .07), 0 1.6rem 3.2rem 0 hsla(0, 0%, 82%, .5);
        opacity: 0;
        overflow-y: auto;
        text-align: center;
        transition: opacity .25s cubic-bezier(.45, .05, .55, .95) 0ms
    }
    .header__menu, .header__menu:after {
        position: fixed;
        top: 0;
        left: 0;
        background: #fff
    }
    .header__menu:after {
        z-index: 0;
        display: block;
        width: 100vw;
        height: 100vh;
        content: "";
        opacity: .6
    }
    .header__menu:before {
        position: fixed;
        z-index: 4;
        top: -.1rem;
        right: 0;
        left: 0;
        height: 9.4rem;
        border-bottom: .1rem solid #f1f8fe;
        background: #fff;
        content: ""
    }
}
@media only screen and (min-width:1140px) {
    .header__menu {
        display: -webkit-flex;
        display: flex;
        width: auto;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center
    }
}
@media only screen and (max-width:1139px) {
    .header__menu--show {
        display: block
    }
}
@media only screen and (max-width:1139px) {
    .header__menu--active {
        opacity: 1
    }
}
@media only screen and (max-width:1139px) {
    .header__menu--active-submenu {
        overflow-y: hidden
    }
}
@media only screen and (min-width:1140px) {
    .header--transparent-white {
        background: hsla(0, 0%, 100%, .8)
    }
}
@media only screen and (min-width:1140px) {
    .header--transparent {
        background: transparent
    }
}
.header--sticky {
    width: 100%;
    border-bottom: .1rem solid #f1f8fe;
    background: #fff;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
}
.header--sticky:hover, .header--stickyShow {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}
@media only screen and (min-width:1140px) {
    .header--small .header__menu .menu__link {
        padding-right: 1.6rem;
        padding-left: 1.6rem
    }
    .header--small .header__menu .menu__link:before {
        right: .5rem
    }
}
.jumbotron {
    position: relative;
    min-height: 42.8rem;
    padding: 11.4rem 1rem 30.5rem;
    background-color: #fff;
    background-position: center bottom 3.7rem;
    background-repeat: no-repeat;
    background-size: auto 25rem;
    text-align: center
}
@media only screen and (min-width:768px) {
    .jumbotron {
        display: -webkit-flex;
        display: flex;
        height: 54.5rem;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        justify-content: center;
        padding: 9.4rem 32rem 9.4rem 4.5rem;
        background-position: right 1.5rem bottom 8rem;
        background-size: auto 29rem;
        text-align: left
    }
}
@media only screen and (min-width:1140px) {
    .jumbotron {
        height: 54.4rem;
        padding: 11.4rem 0 11.4rem 1.7rem;
        background-position: right 0 bottom 6.9rem;
        background-size: auto 35rem
    }
}
.jumbotron--cv-wzory {
    background-image: url(https://cdn-images.zety.com/images/im/landings/examples/introduction-cv@1x.png)
}
@media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
    .jumbotron--cv-wzory {
        background-image: url(https://cdn-images.zety.com/images/im/landings/examples/introduction-cv@2x.png)
    }
}
@media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
    .jumbotron--cv-wzory {
        background-image: url(https://cdn-images.zety.com/images/im/landings/examples/introduction-cv@3x.png)
    }
}
.jumbotron--list-motywacyjny-wzory {
    background-image: url(https://cdn-images.zety.com/images/im/landings/examples/list-motywacyjny-wzor-hero@1x.png)
}
@media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
    .jumbotron--list-motywacyjny-wzory {
        background-image: url(https://cdn-images.zety.com/images/im/landings/examples/list-motywacyjny-wzor-hero@2x.png)
    }
}
@media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
    .jumbotron--list-motywacyjny-wzory {
        background-image: url(https://cdn-images.zety.com/images/im/landings/examples/list-motywacyjny-wzor-hero@3x.png)
    }
}
.jumbotron--cover-letter-examples {
    background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/cover-letter-examples-jumbotron@1x.png)
}
@media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
    .jumbotron--cover-letter-examples {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/cover-letter-examples-jumbotron@2x.png)
    }
}
@media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
    .jumbotron--cover-letter-examples {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/cover-letter-examples-jumbotron@3x.png)
    }
}
.jumbotron--cv-examples, .jumbotron--resume-examples {
    background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/resume-examples-jumbotron@1x.png)
}
@media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
    .jumbotron--cv-examples, .jumbotron--resume-examples {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/resume-examples-jumbotron@2x.png)
    }
}
@media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
    .jumbotron--cv-examples, .jumbotron--resume-examples {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/resume-examples-jumbotron@3x.png)
    }
}
.jumbotron--exemples-lettres-de-motivation {
    background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/fr/exemple-lettre-de-motivation-jumbutron@1x.png)
}
@media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
    .jumbotron--exemples-lettres-de-motivation {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/fr/exemple-lettre-de-motivation-jumbutron@2x.png)
    }
}
@media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
    .jumbotron--exemples-lettres-de-motivation {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/fr/exemple-lettre-de-motivation-jumbutron@3x.png)
    }
}
.jumbotron--exemplo-de-curriculo {
    background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/exemplo-de-curriculo@1x.png)
}
@media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
    .jumbotron--exemplo-de-curriculo {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/exemplo-de-curriculo@2x.png)
    }
}
@media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
    .jumbotron--exemplo-de-curriculo {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/exemplo-de-curriculo@3x.png)
    }
}
.jumbotron--carta-de-apresentacao-exemplo {
    background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/br/carta-de-apresentacao-exemplo-jumbotron@1x.png)
}
@media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
    .jumbotron--carta-de-apresentacao-exemplo {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/br/carta-de-apresentacao-exemplo-jumbotron@2x.png)
    }
}
@media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
    .jumbotron--carta-de-apresentacao-exemplo {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/br/carta-de-apresentacao-exemplo-jumbotron@3x.png)
    }
}
.jumbotron--ejemplos-de-curriculum {
    background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/ejemplos-de-curriculum-jumbotron@1x.png)
}
@media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
    .jumbotron--ejemplos-de-curriculum {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/ejemplos-de-curriculum-jumbotron@2x.png)
    }
}
@media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
    .jumbotron--ejemplos-de-curriculum {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/ejemplos-de-curriculum-jumbotron@3x.png)
    }
}
.jumbotron--exemples-cv {
    background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/fr/exemple-cv-type-jumbotron@1x.png)
}
@media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
    .jumbotron--exemples-cv {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/fr/exemple-cv-type-jumbotron@2x.png)
    }
}
@media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
    .jumbotron--exemples-cv {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/fr/exemple-cv-type-jumbotron@3x.png)
    }
}
.jumbotron--carta-de-presentacion-ejemplo {
    background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/es/cover-letter-examples-jumbotron@1x.png)
}
@media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
    .jumbotron--carta-de-presentacion-ejemplo {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/es/cover-letter-examples-jumbotron@2x.png)
    }
}
@media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
    .jumbotron--carta-de-presentacion-ejemplo {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/es/cover-letter-examples-jumbotron@3x.png)
    }
}
.jumbotron--curriculum-vitae-esempio {
    background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/it/cv-examples-jumbotron@1x.png)
}
@media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
    .jumbotron--curriculum-vitae-esempio {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/it/cv-examples-jumbotron@2x.png)
    }
}
@media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
    .jumbotron--curriculum-vitae-esempio {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/it/cv-examples-jumbotron@3x.png)
    }
}
.jumbotron--lettera-di-presentazione-esempio {
    background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/it/cover-letter-examples-jumbotron@1x.png)
}
@media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
    .jumbotron--lettera-di-presentazione-esempio {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/it/cover-letter-examples-jumbotron@2x.png)
    }
}
@media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
    .jumbotron--lettera-di-presentazione-esempio {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/examples/it/cover-letter-examples-jumbotron@3x.png)
    }
}
.jumbotron__button {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: opacity .25s cubic-bezier(.45, .05, .55, .95) 0ms
}
.jumbotron__button-wrapper {
    position: absolute;
    right: 0;
    bottom: 3.7rem;
    display: block;
    width: 100%;
    height: 25rem
}
@media only screen and (min-width:768px) {
    .jumbotron__button-wrapper {
        right: 1.5rem;
        bottom: 8rem;
        width: 31rem;
        height: 29rem
    }
}
@media only screen and (min-width:1140px) {
    .jumbotron__button-wrapper {
        right: 2rem;
        bottom: 10rem;
        width: 34rem;
        height: 30rem
    }
}
.jumbotron__button-wrapper:hover .jumbotron__button {
    opacity: 1
}
.jumbotron__button {
    max-width: 33rem
}
.jumbotron__buttons .jumbotron__button {
    margin: 0 1rem 1rem
}
@media only screen and (min-width:768px) {
    .jumbotron__buttons .jumbotron__button {
        margin: 0 1rem
    }
}
.jumbotron h1 {
    font-size: 3rem
}
@media only screen and (min-width:768px) {
    .jumbotron h1 {
        font-size: 3.6rem
    }
}
@media only screen and (min-width:1140px) {
    .jumbotron h1 {
        font-size: 4.4rem
    }
}
.jumbotron p {
    margin-top: 3rem;
    color: #646c78;
    font-size: 1.6rem;
    font-weight: 400
}
@media only screen and (min-width:768px) and (max-width:1139px) {
    .jumbotron p {
        max-width: 50%;
        margin-top: 1.5rem
    }
}
@media only screen and (min-width:1140px) {
    .jumbotron p {
        margin-top: 2rem
    }
}
@media only screen and (min-width:768px) and (max-width:1139px) {
    .example {
        max-width: 77rem;
        margin: 0 auto
    }
}
.example__wrapper {
    position: relative;
    min-height: 45rem
}
.example__wrapper:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMDIgMTQwIj48cGF0aCBmaWxsPSIjMzk4M0ZBIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMTMuNDc3IDEzNkw0NC40OTUgNjUuMzM1Yy0uNzUzLS43NzItMi4xMDktLjc3Mi0yLjg2MiAwTDQgMTAzLjg4N1Y0aDE5NHYxMDEuMTMxbC01NC44NDEtNTYuMThjLS43NTMtLjc3MS0yLjExLS43NzEtMi44NjIgMGwtNDcuMzcgNDguNTI2YTIgMiAwIDEwMi44NjIgMi43OTRsNDUuOTM5LTQ3LjA2IDU1Ljk2NCA1Ny4zM2MuMDk1LjA5OC4xOTkuMTgzLjMwOC4yNTdWMTM2aC04NC41MjN6TTQgMTA5LjYxM2wzOS4wNjQtNDAuMDE4TDEwNy44ODcgMTM2SDR2LTI2LjM4N3pNMjAwIDBhMiAyIDAgMDEyIDJ2MTM2YTIgMiAwIDAxLTIgMkgyYTIgMiAwIDAxLTItMlYyYTIgMiAwIDAxMi0yaDE5OHptLTk4LjM1MSA0Ni4wMTdjMC05LjcxNy03LjczOS0xNy42MjItMTcuMjUtMTcuNjIycy0xNy4yNSA3LjkwNS0xNy4yNSAxNy42MjJjMCA5LjcxNyA3LjczOSAxNy42MjIgMTcuMjUgMTcuNjIyczE3LjI1LTcuOTA1IDE3LjI1LTE3LjYyMnptLTE3LjI1IDEzLjYyMmMtNy4zMDYgMC0xMy4yNS02LjExMS0xMy4yNS0xMy42MjJzNS45NDQtMTMuNjIyIDEzLjI1LTEzLjYyMiAxMy4yNSA2LjExIDEzLjI1IDEzLjYyMmMwIDcuNTEtNS45NDQgMTMuNjIyLTEzLjI1IDEzLjYyMnoiLz48L3N2Zz4=);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 10rem;
    content: ""
}
@media only screen and (min-width:1140px) {
    .example__wrapper:before {
        background-position: 70% 50%
    }
}
@media only screen and (min-width:768px) and (max-width:1139px) {
    .example__wrapper {
        min-height: 47.4rem
    }
}
@media only screen and (min-width:1140px) {
    .example__wrapper {
        min-height: 63.7rem
    }
}
.example__image {
    display: block;
    max-width: 100%;
    max-height: 45rem;
    margin: 0 auto
}
@media only screen and (min-width:768px) {
    .example__image {
        max-width: 35rem;
        max-height: none;
        margin: 0 0 0 2%
    }
}
@media only screen and (min-width:1140px) {
    .example__image {
        max-width: 47rem;
        margin: 0 0 0 24%
    }
}
.example__list {
    list-style: none
}
@media only screen and (min-width:768px) and (max-width:1139px) {
    .example__list {
        margin: 0 0 0 -20%
    }
}
@media only screen and (min-width:1140px) {
    .example__list {
        margin-left: -8%
    }
}
.example__right {
    margin-top: 3rem
}
@media only screen and (min-width:768px) {
    .example__right {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        justify-content: center;
        margin: 0
    }
}
.example__item {
    position: relative;
    margin-bottom: 1.5rem;
    line-height: 1.7
}
@media only screen and (min-width:768px) {
    .example__item {
        max-width: 46rem;
        padding-left: 1.2rem;
        margin-bottom: 3.8rem
    }
}
@media only screen and (min-width:1140px) {
    .example__item {
        padding: 0 3rem;
        margin-bottom: 5.6rem;
        font-size: 1.8rem
    }
}
.example__item:last-child {
    margin: 0
}
.example__item:after {
    position: absolute;
    display: block;
    background: #1a2a4f;
    content: ""
}
@media only screen and (max-width:767px) {
    .example__item {
        padding-left: 2rem
    }
    .example__item:after {
        top: .9rem;
        left: 0;
        width: .6rem;
        height: .6rem;
        border-radius: 50%;
        content: ""
    }
}
@media only screen and (min-width:768px) {
    .example__item:after {
        right: 6%;
        bottom: -.5rem;
        width: 103%;
        height: .1rem;
        content: ""
    }
    .example__item:before {
        position: absolute;
        bottom: -1rem;
        left: -9%;
        display: block;
        width: 1rem;
        height: 1rem;
        background: #1a2a4f;
        border-radius: .5rem;
        content: ""
    }
}
.categories {
    position: relative;
    z-index: 3;
    overflow: hidden;
    border: .1rem solid #e8e8e8;
    margin-bottom: 6rem;
    background: #fff;
    border-radius: .4rem
}
@media only screen and (min-width:768px) {
    .categories {
        margin-bottom: 3rem
    }
}
.categories__title {
    padding: 1rem 4rem .8rem;
    background: #3983fa;
    border-radius: .4rem .4rem 0 0;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase
}
@media only screen and (min-width:768px) and (max-width:1139px) {
    .categories__title {
        text-align: center
    }
}
.categories__wrapper {
    position: relative
}
@media only screen and (max-width:767px) {
    .categories__wrapper {
        padding-bottom: 2.4rem
    }
}
@media only screen and (min-width:768px) and (max-width:1139px) {
    .categories__wrapper {
        padding-bottom: 12rem
    }
}
.categories__list {
    list-style: none
}
@media only screen and (min-width:768px) and (max-width:1139px) {
    .categories__list {
        position: relative;
        padding: 2rem 0;
        -webkit-column-count: 2;
        column-count: 2
    }
    .categories__list:after {
        position: absolute;
        top: 5%;
        left: 50%;
        display: block;
        width: .1rem;
        height: 90%;
        background: #e8e8e8;
        content: ""
    }
}
.categories__item {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 1rem 2rem .8rem;
    -webkit-column-break-inside: avoid;
    cursor: pointer;
    transition: background-color .25s cubic-bezier(.45, .05, .55, .95) 0ms
}
.categories__item:hover {
    background: #f1f8fe
}
.categories__label {
    font-size: 1.4rem
}
.categories__icon {
    display: inline-block;
    height: 2.4rem;
    padding-right: 1.4rem;
    vertical-align: middle
}
.categories__icon svg {
    width: 2.1rem;
    height: 2.1rem;
    stroke: #3983fa
}
.category__section {
    position: relative
}
.category__section:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: url(https://cdn-images.zety.com/images/common/landings/examples/triangles@1x.png) no-repeat left 0 top 3rem/auto 22%;
    content: ""
}
@media only screen and (min-width:768px) {
    .category__section:after {
        background: url(https://cdn-images.zety.com/images/common/landings/examples/triangles@1x.png) no-repeat left 0 top 5rem/30% auto
    }
}
@media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
    .category__section:after {
        background-image: url(https://cdn-images.zety.com/images/common/landings/examples/triangles@2x.png)
    }
}
@media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
    .category__section:after {
        background-image: url(https://cdn-images.zety.com/images/common/landings/examples/triangles@3x.png)
    }
}
.category__section--blue {
    background: #f1f8fe
}
.category__section--blue:after {
    background: url(https://cdn-images.zety.com/images/common/landings/examples/triangles@1x.png) no-repeat right -16% bottom 3rem/auto 22%
}
@media only screen and (min-width:768px) {
    .category__section--blue:after {
        background: url(https://cdn-images.zety.com/images/common/landings/examples/triangles@1x.png) no-repeat right -10% top 5rem/30% auto
    }
}
@media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
    .category__section--blue:after {
        background-image: url(https://cdn-images.zety.com/images/common/landings/examples/triangles@2x.png)
    }
}
@media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
    .category__section--blue:after {
        background-image: url(https://cdn-images.zety.com/images/common/landings/examples/triangles@3x.png)
    }
}
.category__row {
    position: relative;
    z-index: 2
}
@media only screen and (max-width:767px) {
    .category__button {
        display: block;
        width: 25rem;
        margin-right: auto;
        margin-left: auto
    }
}
.category__toggles {
    width: 27.6rem;
    margin: 0 auto
}
@media only screen and (min-width:768px) {
    .category__toggles {
        width: 40rem
    }
}
@media only screen and (min-width:1140px) {
    .category__toggles {
        width: 100%
    }
}
.category__toggle {
    position: relative;
    display: inline-block;
    width: 50%;
    padding-bottom: 1rem;
    border-bottom: .1rem solid #9cc1fc;
    margin-bottom: 4.5rem;
    color: #9cc1fc;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    transition: color .25s cubic-bezier(.45, .05, .55, .95) 0ms, border-color .25s cubic-bezier(.45, .05, .55, .95) 0ms;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.category__toggle:hover {
    border-color: #838fa0;
    color: #838fa0
}
.category__toggle--active {
    color: #3983fa;
    font-weight: 500
}
.category__toggle--active:after {
    position: absolute;
    bottom: -.2rem;
    left: 0;
    display: block;
    width: 100%;
    height: .3rem;
    background: #3983fa;
    content: "";
    transition: background-color .25s cubic-bezier(.45, .05, .55, .95) 0ms
}
.category__toggle--active:hover {
    border-color: #326fd2;
    color: #326fd2
}
.category__toggle--active:hover:after {
    background: #326fd2
}
.category__toggle-item {
    display: none;
    overflow: hidden;
    border: .1rem solid #e8e8e8;
    border-radius: .4rem
}
@media only screen and (max-width:767px) {
    .category__toggle-item {
        width: 27.6rem;
        margin: 0 auto
    }
}
@media only screen and (min-width:768px) and (max-width:1139px) {
    .category__toggle-item {
        width: 40rem;
        margin: 0 auto
    }
}
.category__toggle-item--image {
    position: relative;
    min-height: 38.7rem
}
@media only screen and (min-width:768px) {
    .category__toggle-item--image {
        min-height: 56.3rem
    }
}
@media only screen and (min-width:1140px) {
    .category__toggle-item--image {
        min-height: 57.1rem
    }
}
.category__toggle-item--image:before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 10rem;
    content: "";
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMDIgMTQwIj48cGF0aCBmaWxsPSIjMzk4M0ZBIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMTMuNDc3IDEzNkw0NC40OTUgNjUuMzM1Yy0uNzUzLS43NzItMi4xMDktLjc3Mi0yLjg2MiAwTDQgMTAzLjg4N1Y0aDE5NHYxMDEuMTMxbC01NC44NDEtNTYuMThjLS43NTMtLjc3MS0yLjExLS43NzEtMi44NjIgMGwtNDcuMzcgNDguNTI2YTIgMiAwIDEwMi44NjIgMi43OTRsNDUuOTM5LTQ3LjA2IDU1Ljk2NCA1Ny4zM2MuMDk1LjA5OC4xOTkuMTgzLjMwOC4yNTdWMTM2aC04NC41MjN6TTQgMTA5LjYxM2wzOS4wNjQtNDAuMDE4TDEwNy44ODcgMTM2SDR2LTI2LjM4N3pNMjAwIDBhMiAyIDAgMDEyIDJ2MTM2YTIgMiAwIDAxLTIgMkgyYTIgMiAwIDAxLTItMlYyYTIgMiAwIDAxMi0yaDE5OHptLTk4LjM1MSA0Ni4wMTdjMC05LjcxNy03LjczOS0xNy42MjItMTcuMjUtMTcuNjIycy0xNy4yNSA3LjkwNS0xNy4yNSAxNy42MjJjMCA5LjcxNyA3LjczOSAxNy42MjIgMTcuMjUgMTcuNjIyczE3LjI1LTcuOTA1IDE3LjI1LTE3LjYyMnptLTE3LjI1IDEzLjYyMmMtNy4zMDYgMC0xMy4yNS02LjExMS0xMy4yNS0xMy42MjJzNS45NDQtMTMuNjIyIDEzLjI1LTEzLjYyMiAxMy4yNSA2LjExIDEzLjI1IDEzLjYyMmMwIDcuNTEtNS45NDQgMTMuNjIyLTEzLjI1IDEzLjYyMnoiLz48L3N2Zz4=)
}
.category__toggle-item--active, .category__toggle-item--active.category__toggle-item--doc {
    display: block
}
.category__toggle-item--doc {
    overflow: auto;
    height: 39rem;
    padding: 1.5rem;
    background: #fff;
    font-size: 1rem
}
@media only screen and (min-width:768px) {
    .category__toggle-item--doc {
        height: 56rem
    }
}
@media only screen and (min-width:1140px) {
    .category__toggle-item--doc {
        height: 53.7rem
    }
}
.category__toggle-item--doc ul {
    margin: .5rem 0 .5rem 1.5rem
}
.category__toggle-item--doc p {
    margin: .5rem 0
}
.category__image {
    position: relative;
    z-index: 1;
    display: block
}
.category__title {
    margin: 6rem 0 2.5rem;
    color: #233143;
    font-size: 2.2rem;
    transition: color .25s cubic-bezier(.45, .05, .55, .95) 0ms
}
@media only screen and (min-width:768px) {
    .category__title {
        margin: 8rem 0 2.5rem
    }
}
.category__title:hover {
    color: #3983fa
}
.category__list {
    margin: 2rem 0 0 1.8rem
}
.category__item {
    margin-bottom: 1.2rem
}
.slickBox {
    position: relative;
    z-index: 9
}
@media only screen and (max-width:767px) {
    .slickBox {
        top: -5.3rem;
        height: 0
    }
}
@media only screen and (min-width:768px) and (max-width:1139px) {
    .slickBox {
        position: absolute;
        bottom: -10.3rem;
        width: 100%;
        min-height: 10.3rem
    }
}
@media only screen and (min-width:1140px) {
    .slickBox {
        max-width: 25.75rem
    }
}
.slickBox--fixed {
    position: fixed
}
@media only screen and (max-width:767px) {
    .slickBox--fixed {
        top: auto;
        bottom: 1.4rem;
        left: 1rem;
        min-height: 4.8rem
    }
}
@media only screen and (min-width:768px) and (max-width:1139px) {
    .slickBox--fixed {
        right: 1.4rem;
        bottom: 1.4rem;
        left: 1.4rem;
        width: auto;
        max-width: 97.8rem;
        min-height: 10.3rem;
        margin: 0 auto
    }
}
@media only screen and (min-width:1140px) {
    .slickBox--fixed {
        top: 3rem
    }
}
@media only screen and (min-width:1140px) {
    .slickBox--visible {
        top: 12rem
    }
}
.slickBox--fixed-end {
    position: absolute
}
@media only screen and (max-width:767px) {
    .slickBox--fixed-end {
        min-height: 4.8rem
    }
}
@media only screen and (min-width:768px) and (max-width:1139px) {
    .slickBox__column {
        position: relative
    }
    .slickBox__column--fixed-end {
        position: static
    }
}
.slickBox__categories-button {
    background: #fff
}
@media only screen and (max-width:767px) {
    .slickBox__categories-button {
        position: relative;
        z-index: 99;
        width: 4.8rem;
        height: 4.8rem;
        padding: 1.5rem 1.8rem;
        border-width: .1rem;
        color: transparent
    }
    .slickBox__categories-button:hover {
        color: transparent
    }
}
@media only screen and (min-width:768px) and (max-width:1139px) {
    .slickBox__categories-button {
        position: absolute;
        z-index: 100;
        top: 50%;
        left: -1.4rem;
        width: 4.8rem;
        height: 4.8rem;
        padding: 1.5rem 0 0 1.8rem;
        border-width: .1rem;
        border-radius: 50%;
        color: transparent;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }
    .slickBox__categories-button:hover {
        color: transparent
    }
}
.slickBox__categories-button svg {
    fill: #3983fa;
    stroke: #3983fa;
    transition: fill .25s cubic-bezier(.45, .05, .55, .95) 0ms, stroke .25s cubic-bezier(.45, .05, .55, .95) 0ms
}
.slickBox__categories-button:hover svg {
    fill: #fff;
    stroke: #fff
}
@media only screen and (min-width:1140px) {
    .slickBox__categories-button {
        position: static;
        width: 100%;
        border-width: .1rem
    }
}
.slickBox__icon {
    display: inline-block
}
@media only screen and (min-width:768px) {
    .slickBox__icon {
        margin-right: .5rem
    }
}
.slickBox__container {
    display: none
}
@media only screen and (min-width:768px) {
    .slickBox__container {
        position: relative;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        padding: 3rem 6rem;
        border-radius: .4rem
    }
}
@media only screen and (min-width:1140px) {
    .slickBox__container {
        display: block;
        padding: 4rem 2.5rem
    }
}
.slickBox__title {
    font-size: 2rem
}
.slickBox__description {
    font-size: 1.4rem
}
@media only screen and (min-width:768px) and (max-width:1139px) {
    .slickBox__description {
        display: none
    }
}
.slickBox__button {
    width: 22.4rem;
    font-size: 1.4rem
}
@media only screen and (min-width:768px) and (max-width:1139px) {
    .slickBox__button {
        padding: 1.3rem 1rem 1rem
    }
}
@media only screen and (min-width:1140px) {
    .slickBox__button {
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 1.8rem
    }
}
.box {
    padding: 3.5rem 1.5rem;
    border: .1rem solid #e8e8e8;
    margin-bottom: 2.5rem;
    border-radius: .4rem
}
.box:last-child {
    margin-bottom: 0
}
@media only screen and (min-width:768px) {
    .box {
        padding: 2rem 4.5rem
    }
}
@media only screen and (min-width:1140px) {
    .box {
        padding: 2rem 10rem
    }
}
.box__list {
    list-style: none
}
@media only screen and (min-width:768px) {
    .box__list {
        -webkit-column-count: 2;
        column-count: 2
    }
}
.box__list-item {
    position: relative;
    padding: .5rem 0 .5rem 2.5rem
}
.box__list-item:after {
    position: absolute;
    top: 1.3rem;
    left: 0;
    display: block;
    width: .5rem;
    height: .5rem;
    background: #676b78;
    border-radius: 2.5rem;
    content: ""
}
.box__link {
    font-weight: 400;
    text-decoration: underline
}
.box__title {
    position: relative;
    padding-left: 3.5rem;
    font-size: 2.2rem
}
.box__icon {
    position: absolute;
    top: .2rem;
    left: 0;
    display: inline-block;
    margin-right: 1.5rem
}
.box__icon svg {
    width: 2.1rem;
    height: 2rem;
    stroke: #3983fa
}
@media only screen and (max-width:767px) {
    .type {
        margin-bottom: 4rem
    }
}
.type__description, .type__link {
    color: #233143
}
.type__link {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 46.6rem;
    font-weight: 400;
    transition: color .25s cubic-bezier(.45, .05, .55, .95) 0ms
}
@media only screen and (min-width:768px) {
    .type__link {
        min-height: 41.7rem
    }
}
@media only screen and (min-width:1140px) {
    .type__link {
        min-height: 39.5rem
    }
}
.type__link-auto-height {
    min-height: auto
}
.type__image-container {
    position: relative;
    min-height: 10rem
}
.type__image-container:before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 10rem;
    content: "";
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMDIgMTQwIj48cGF0aCBmaWxsPSIjMzk4M0ZBIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMTMuNDc3IDEzNkw0NC40OTUgNjUuMzM1Yy0uNzUzLS43NzItMi4xMDktLjc3Mi0yLjg2MiAwTDQgMTAzLjg4N1Y0aDE5NHYxMDEuMTMxbC01NC44NDEtNTYuMThjLS43NTMtLjc3MS0yLjExLS43NzEtMi44NjIgMGwtNDcuMzcgNDguNTI2YTIgMiAwIDEwMi44NjIgMi43OTRsNDUuOTM5LTQ3LjA2IDU1Ljk2NCA1Ny4zM2MuMDk1LjA5OC4xOTkuMTgzLjMwOC4yNTdWMTM2aC04NC41MjN6TTQgMTA5LjYxM2wzOS4wNjQtNDAuMDE4TDEwNy44ODcgMTM2SDR2LTI2LjM4N3pNMjAwIDBhMiAyIDAgMDEyIDJ2MTM2YTIgMiAwIDAxLTIgMkgyYTIgMiAwIDAxLTItMlYyYTIgMiAwIDAxMi0yaDE5OHptLTk4LjM1MSA0Ni4wMTdjMC05LjcxNy03LjczOS0xNy42MjItMTcuMjUtMTcuNjIycy0xNy4yNSA3LjkwNS0xNy4yNSAxNy42MjJjMCA5LjcxNyA3LjczOSAxNy42MjIgMTcuMjUgMTcuNjIyczE3LjI1LTcuOTA1IDE3LjI1LTE3LjYyMnptLTE3LjI1IDEzLjYyMmMtNy4zMDYgMC0xMy4yNS02LjExMS0xMy4yNS0xMy42MjJzNS45NDQtMTMuNjIyIDEzLjI1LTEzLjYyMiAxMy4yNSA2LjExIDEzLjI1IDEzLjYyMmMwIDcuNTEtNS45NDQgMTMuNjIyLTEzLjI1IDEzLjYyMnoiLz48L3N2Zz4=)
}
.type__image {
    position: relative;
    z-index: 1;
    border: .1rem solid #e8e8e8;
    border-radius: .4rem
}
@media only screen and (max-width:767px) {
    .type__image {
        display: block;
        max-width: 30rem;
        margin: 0 auto 3rem
    }
}
.menu {
    margin-bottom: 2.7rem
}
@media only screen and (max-width:1139px) {
    .menu {
        padding: 2.7rem 0 0
    }
}
@media only screen and (min-width:1140px) {
    .menu {
        padding-right: 2.4rem;
        margin: 0
    }
}
.menu__list {
    list-style: none
}
.menu__item {
    text-align: center
}
@media only screen and (min-width:1140px) {
    .menu__item {
        position: relative;
        display: inline-block
    }
}
.menu__item:before {
    position: absolute;
    z-index: 1;
    top: .1rem;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    border: .1rem solid #d9dfea;
    background: #fff;
    border-radius: .4rem;
    content: ""
}
@media only screen and (min-width:1140px) {
    .menu__item:hover.submenu__wrapper:after {
        opacity: 1
    }
    .menu__item:hover.submenu__wrapper:before {
        z-index: 4;
        display: block
    }
    .menu__item:hover .submenu {
        z-index: 3;
        display: block
    }
    .menu__item:hover .menu__link {
        z-index: 4;
        color: #3983fa
    }
}
.menu__item:last-child .submenu {
    right: -.2rem;
    left: auto;
    border-top-left-radius: .4rem;
    border-top-right-radius: 0
}
.menu__link {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 1.1rem 3.3rem;
    color: #233143;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 400;
    transition: color .25s cubic-bezier(.45, .05, .55, .95) 0ms
}
.menu__link:hover {
    color: inherit;
    text-decoration: none
}
@media only screen and (min-width:768px) {
    .menu__link {
        padding: 1.5rem 1.9rem
    }
}
@media only screen and (min-width:1140px) {
    .menu__link {
        padding: 1.5rem 2rem;
        font-size: 1.6rem
    }
}
.menu__link:after {
    display: block;
    overflow: hidden;
    height: 0;
    content: attr(data-title);
    font-weight: 600;
    visibility: hidden
}
.submenu {
    position: absolute;
    top: 7.6rem;
    right: 0;
    width: 100%;
    height: 0;
    background: #fff;
    opacity: 0;
    transition: right .25s cubic-bezier(.45, .05, .55, .95) 0ms, opacity .25s cubic-bezier(.45, .05, .55, .95) 0ms
}
@media only screen and (max-width:767px) {
    .submenu {
        padding-bottom: 10vh
    }
}
@media only screen and (max-width:1139px) {
    .submenu {
        top: 0;
        padding-top: 9.4rem;
        overflow-y: scroll
    }
}
@media only screen and (min-width:1140px) {
    .submenu {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        overflow: auto;
        min-width: 42rem;
        height: auto;
        max-height: calc(100vh - 9.4rem);
        border: .1rem solid #d9dfea;
        margin-top: .1rem;
        background: #fff;
        border-radius: 0 .4rem .4rem .4rem;
        box-shadow: -.1rem 0 1.6rem 0 #e1e1e1;
        opacity: 1
    }
}
.submenu__list {
    padding: 1.1rem 1.5rem 1rem 2.5rem;
    border-top: .1rem solid #d9dfea;
    background: #f1f8fe;
    list-style: none;
    text-align: left
}
@media only screen and (min-width:1140px) {
    .submenu__list {
        max-height: calc(100vh - 9.4rem);
        padding: 1.1rem 1.5rem 1.1rem 2.5rem
    }
}
.submenu__wrapper:before {
    border-width: .1rem .1rem 0;
    border-radius: .4rem .4rem 0 0
}
@media only screen and (min-width:768px) {
    .submenu__wrapper:after {
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background: hsla(0, 0%, 100%, .6);
        content: "";
        opacity: 0;
        pointer-events: none;
        transition: opacity .25s cubic-bezier(.45, .05, .55, .95) 0ms
    }
}
@media only screen and (min-width:1140px) {
    .submenu__wrapper .menu__link:before {
        position: absolute;
        z-index: 3;
        top: 50%;
        right: 1rem;
        display: block;
        width: 0;
        height: 0;
        border-color: #676b78 transparent transparent;
        border-style: solid;
        border-width: .4rem .4rem 0;
        margin-top: -.2rem;
        content: "";
        transition: -webkit-transform .25s cubic-bezier(.45, .05, .55, .95) 0ms;
        transition: transform .25s cubic-bezier(.45, .05, .55, .95) 0ms;
        transition: transform .25s cubic-bezier(.45, .05, .55, .95) 0ms, -webkit-transform .25s cubic-bezier(.45, .05, .55, .95) 0ms
    }
}
@media only screen and (min-width:1140px) {
    .submenu__wrapper:hover .menu__link:before {
        border-top-color: #3983fa;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }
}
.submenu__wrapper--active .submenu {
    z-index: 3;
    right: 0;
    width: 100%;
    opacity: 1
}
@media only screen and (max-width:767px) {
    .submenu__wrapper--active .submenu {
        position: fixed;
        height: 100vh;
        background-color: #f1f8fe
    }
}
@media only screen and (min-width:768px) {
    .submenu__wrapper--active .submenu {
        height: 100%
    }
}
.submenu__item {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 1.5rem 0 1.5rem 3rem
}
@media only screen and (min-width:1140px) {
    .submenu__item {
        padding: 1rem 0 1rem 3.9rem;
        cursor: pointer
    }
}
.submenu__item:hover .submenu__icon svg {
    stroke: #3983fa
}
.submenu__item:hover .submenu__desc, .submenu__item:hover .submenu__link {
    color: #3983fa
}
.submenu__link {
    display: inline-block;
    padding-right: 1rem;
    color: #233143;
    font-size: 1.8rem;
    font-weight: 500;
    transition: color .25s cubic-bezier(.45, .05, .55, .95) 0ms
}
@media only screen and (min-width:1140px) {
    .submenu__link {
        font-size: 1.4rem
    }
}
.submenu__link:hover {
    color: inherit;
    text-decoration: none
}
.submenu__desc {
    display: none
}
@media only screen and (min-width:1140px) {
    .submenu__desc {
        display: inline-block;
        margin-top: .4rem;
        color: #7b909f;
        font-size: 1.2rem;
        font-weight: 400;
        transition: color .25s cubic-bezier(.45, .05, .55, .95) 0ms
    }
}
.submenu__icon {
    position: absolute;
    top: 1.5rem;
    left: 0;
    display: inline-block;
    height: 2.4rem;
    padding-right: 1.5rem
}
.submenu__icon svg {
    display: block;
    width: 2.2rem;
    height: auto;
    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: .1rem;
    transition: stroke .25s cubic-bezier(.45, .05, .55, .95) 0ms
}
.submenu__title {
    padding: 3.7rem 2.2rem 3.7rem 13rem;
    background-color: #fff;
    background-position: 1rem;
    background-repeat: no-repeat;
    background-size: 10.5rem;
    text-align: center
}
@media only screen and (min-width:1140px) {
    .submenu__title {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        cursor: pointer;
        text-align: left
    }
}
.submenu__title__img {
    display: none
}
@media only screen and (min-width:1140px) {
    .submenu__title__img {
        display: block;
        max-width: 10.5rem;
        margin-right: 1rem
    }
}
.submenu__title__link {
    display: block;
    margin: 0 0 .5rem;
    color: #233143;
    font-size: 2.2rem;
    font-weight: 400;
    transition: color .25s cubic-bezier(.45, .05, .55, .95) 0ms
}
@media only screen and (min-width:1140px) {
    .submenu__title__link {
        font-size: 2rem
    }
}
.submenu__title__desc {
    color: #233143;
    font-size: 1.4rem;
    font-weight: 400;
    transition: color .25s cubic-bezier(.45, .05, .55, .95) 0ms
}
.submenu__title--curriculum-online, .submenu__title--resumebuilder {
    background-image: url(https://cdn-images.zety.com/images/common/icons/icon-resume-builder@1_25x.png)
}
@media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
    .submenu__title--curriculum-online, .submenu__title--resumebuilder {
        background-image: url(https://cdn-images.zety.com/images/common/icons/icon-resume-builder@2x.png)
    }
}
@media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
    .submenu__title--curriculum-online, .submenu__title--resumebuilder {
        background-image: url(https://cdn-images.zety.com/images/common/icons/icon-resume-builder@3x.png)
    }
}
.submenu__title--coverletter {
    background-image: url(https://cdn-images.zety.com/images/common/icons/icon-cover-letter@1_25x.png)
}
@media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
    .submenu__title--coverletter {
        background-image: url(https://cdn-images.zety.com/images/common/icons/icon-cover-letter@2x.png)
    }
}
@media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
    .submenu__title--coverletter {
        background-image: url(https://cdn-images.zety.com/images/common/icons/icon-cover-letter@3x.png)
    }
}
.submenu__title--careercourse {
    background-image: url(https://cdn-images.zety.com/images/common/icons/icon-career-course@1_25x.png)
}
@media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
    .submenu__title--careercourse {
        background-image: url(https://cdn-images.zety.com/images/common/icons/icon-career-course@2x.png)
    }
}
@media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
    .submenu__title--careercourse {
        background-image: url(https://cdn-images.zety.com/images/common/icons/icon-career-course@3x.png)
    }
}
.submenu__title:hover .submenu__title__desc, .submenu__title:hover .submenu__title__link {
    color: #3983fa
}
.submenu__button {
    width: 100%;
    padding: 1.5rem
}
@media only screen and (max-width:767px) {
    .submenu__button {
        border-radius: 0
    }
}
@media only screen and (min-width:768px) {
    .submenu__button {
        border-radius: 0 0 .4rem .4rem
    }
}
