
    html {
      line-height: 1.15;
      -webkit-text-size-adjust: 100%
    }
    main {
      display: block
    }
    h1 {
      margin: .67em 0;
      font-size: 2em
    }
    hr {
      overflow: hidden;
      height: 0;
      box-sizing: content-box
    }
    pre {
      font-family: monospace;
      font-size: 1em
    }
    a {
      background-color: transparent
    }
    abbr[title] {
      border-bottom: none;
      text-decoration: underline;
      -webkit-text-decoration: underline dotted;
      text-decoration: underline dotted
    }
    b, strong {
      font-weight: bolder
    }
    code, kbd, samp {
      font-family: monospace, monospace;
      font-size: 1em
    }
    small {
      font-size: 80%
    }
    sub, sup {
      position: relative;
      font-size: 75%;
      line-height: 0;
      vertical-align: baseline
    }
    sub {
      bottom: -.25em
    }
    sup {
      top: -.5em
    }
    img {
      border-style: none
    }
    button, input, optgroup, select, textarea {
      margin: 0;
      font-family: inherit;
      font-size: 100%;
      line-height: 1.15
    }
    button, input {
      overflow: visible
    }
    button, select {
      text-transform: none
    }
    [type=button], [type=reset], [type=submit], button {
      -webkit-appearance: button
    }
    [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
      padding: 0;
      border-style: none
    }
    [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
      outline: 1px dotted ButtonText
    }
    fieldset {
      padding: .35em .75em .625em
    }
    legend {
      display: table;
      max-width: 100%;
      box-sizing: border-box;
      padding: 0;
      color: inherit;
      white-space: normal
    }
    progress {
      vertical-align: baseline
    }
    textarea {
      overflow: auto
    }
    [type=checkbox], [type=radio] {
      box-sizing: border-box;
      padding: 0
    }
    [type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
      height: auto
    }
    [type=search] {
      -webkit-appearance: textfield;
      outline-offset: -2px
    }
    [type=search]::-webkit-search-decoration {
      -webkit-appearance: none
    }
    ::-webkit-file-upload-button {
      -webkit-appearance: button;
      font: inherit
    }
    details {
      display: block
    }
    summary {
      display: list-item
    }
    [hidden], template {
      display: none
    }
    @font-face {
      font-display: swap;
      font-family: HK Grotesk;
      font-style: normal;
      font-weight: 300;
      src: local("HK Grotesk Light"), local("HKGrotesk-Light"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Light.eot);
      src: local("HK Grotesk Light"), local("HKGrotesk-Light"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Light.eot#iefix) format("embedded-opentype"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Light.woff2) format("woff2"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Light.woff) format("woff"), url(https://cdn-images.zety.com/fonts/otf/HKGrotesk-Light.otf) format("otf"), url(https://cdn-images.zety.com/fonts/ttf/HKGrotesk-Light.ttf) format("truetype")
    }
    @font-face {
      font-display: swap;
      font-family: HK Grotesk;
      font-style: italic;
      font-weight: 300;
      src: local("HK Grotesk Light Italic"), local("HKGrotesk-LightItalic"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-LightItalic.eot);
      src: local("HK Grotesk Light Italic"), local("HKGrotesk-LightItalic"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-LightItalic.eot#iefix) format("embedded-opentype"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-LightItalic.woff2) format("woff2"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-LightItalic.woff) format("woff"), url(https://cdn-images.zety.com/fonts/otf/HKGrotesk-LightItalic.otf) format("otf"), url(https://cdn-images.zety.com/fonts/ttf/HKGrotesk-LightItalic.ttf) format("truetype")
    }
    @font-face {
      font-display: swap;
      font-family: HK Grotesk;
      font-style: normal;
      font-weight: 400;
      src: local("HK Grotesk Regular"), local("HKGrotesk-Regular"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Regular.eot);
      src: local("HK Grotesk Regular"), local("HKGrotesk-Regular"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Regular.eot#iefix) format("embedded-opentype"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Regular.woff2) format("woff2"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Regular.woff) format("woff"), url(https://cdn-images.zety.com/fonts/otf/HKGrotesk-Regular.otf) format("otf"), url(https://cdn-images.zety.com/fonts/ttf/HKGrotesk-Regular.ttf) format("truetype")
    }
    @font-face {
      font-display: swap;
      font-family: HK Grotesk;
      font-style: italic;
      font-weight: 400;
      src: local("HK Grotesk Italic"), local("HKGrotesk-Italic"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Italic.eot);
      src: local("HK Grotesk Italic"), local("HKGrotesk-Italic"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Italic.eot#iefix) format("embedded-opentype"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Italic.woff2) format("woff2"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Italic.woff) format("woff"), url(https://cdn-images.zety.com/fonts/otf/HKGrotesk-Italic.otf) format("otf"), url(https://cdn-images.zety.com/fonts/ttf/HKGrotesk-Italic.ttf) format("truetype")
    }
    @font-face {
      font-display: swap;
      font-family: HK Grotesk;
      font-style: normal;
      font-weight: 500;
      src: local("HK Grotesk Semi Bold"), local("HKGrotesk-SemiBold"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-SemiBold.eot);
      src: local("HK Grotesk Semi Bold"), local("HKGrotesk-SemiBold"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-SemiBold.eot#iefix) format("embedded-opentype"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-SemiBold.woff2) format("woff2"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-SemiBold.woff) format("woff"), url(https://cdn-images.zety.com/fonts/otf/HKGrotesk-SemiBold.otf) format("otf"), url(https://cdn-images.zety.com/fonts/ttf/HKGrotesk-SemiBold.ttf) format("truetype")
    }
    @font-face {
      font-display: swap;
      font-family: HK Grotesk;
      font-style: italic;
      font-weight: 500;
      src: local("HK Grotesk Semi Bold Italic"), local("HKGrotesk-SemiBoldItalic"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-SemiBoldItalic.eot);
      src: local("HK Grotesk Semi Bold Italic"), local("HKGrotesk-SemiBoldItalic"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-SemiBoldItalic.eot#iefix) format("embedded-opentype"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-SemiBoldItalic.woff2) format("woff2"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-SemiBoldItalic.woff) format("woff"), url(https://cdn-images.zety.com/fonts/otf/HKGrotesk-SemiBoldItalic.otf) format("otf"), url(https://cdn-images.zety.com/fonts/ttf/HKGrotesk-SemiBoldItalic.ttf) format("truetype")
    }
    @font-face {
      font-display: swap;
      font-family: HK Grotesk;
      font-style: normal;
      font-weight: 600;
      src: local("HK Grotesk Bold"), local("HKGrotesk-Bold"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Bold.eot);
      src: local("HK Grotesk Bold"), local("HKGrotesk-Bold"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Bold.eot#iefix) format("embedded-opentype"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Bold.woff2) format("woff2"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-Bold.woff) format("woff"), url(https://cdn-images.zety.com/fonts/otf/HKGrotesk-Bold.otf) format("otf"), url(https://cdn-images.zety.com/fonts/ttf/HKGrotesk-Bold.ttf) format("truetype")
    }
    @font-face {
      font-display: swap;
      font-family: HK Grotesk;
      font-style: italic;
      font-weight: 600;
      src: local("HK Grotesk Bold Italic"), local("HKGrotesk-BoldItalic"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-BoldItalic.eot);
      src: local("HK Grotesk Bold Italic"), local("HKGrotesk-BoldItalic"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-BoldItalic.eot#iefix) format("embedded-opentype"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-BoldItalic.woff2) format("woff2"), url(https://cdn-images.zety.com/fonts/web/HKGrotesk-BoldItalic.woff) format("woff"), url(https://cdn-images.zety.com/fonts/otf/HKGrotesk-BoldItalic.otf) format("otf"), url(https://cdn-images.zety.com/fonts/ttf/HKGrotesk-BoldItalic.ttf) format("truetype")
    }
    html {
      box-sizing: border-box;
      font-size: 10px;
      font-weight: 400;
      line-height: 1.5;
      overflow-x: hidden
    }
    body {
      color: #233143;
      font-family: HK Grotesk, sans-serif;
      font-size: 1.6rem;
      line-height: 1.5
    }
    *, body, ol, ul {
      padding: 0;
      margin: 0
    }
    *, ol, ul {
      box-sizing: border-box
    }
    h1, h2, h3, h4 {
      padding: 0;
      margin: 0
    }
    a {
      cursor: pointer;
      font-weight: 500
    }
    a, a:active, a:focus, a:hover {
      color: #3983fa;
      text-decoration: none
    }
    img {
      max-width: 100%
    }
    img[data-src] {
      min-height: .1rem;
      opacity: 0;
      transition: opacity .25s cubic-bezier(.45, .05, .55, .95) 0ms;
      transition-delay: .5s
    }
    img[data-src][data-loaded=true] {
      opacity: 1
    }
    img[width][height] {
      width: 100%;
      height: auto
    }
    .text--blue {
      color: #3983fa
    }
    .overflow-x--hidden {
      overflow-x: hidden
    }
    .no-js [data-loaded=false] {
      display: none
    }
    .grid {
      position: relative;
      width: 100%;
      min-height: .1rem;
      box-sizing: border-box;
      padding-right: 1rem;
      padding-left: 1rem;
      margin: 0 auto
    }
    @media only screen and (min-width:768px) {
      .grid {
        max-width: 102.2rem;
        padding-right: 1.4rem;
        padding-left: 1.4rem
      }
    }
    @media only screen and (min-width:1140px) {
      .grid {
        max-width: 117.4rem;
        padding-right: 1.7rem;
        padding-left: 1.7rem
      }
    }
    .grid__row {
      display: -webkit-flex;
      display: flex;
      min-height: .1rem;
      -webkit-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -1rem;
      margin-left: -1rem
    }
    @media only screen and (min-width:768px) {
      .grid__row {
        margin-right: -1.4rem;
        margin-left: -1.4rem
      }
    }
    @media only screen and (min-width:1140px) {
      .grid__row {
        margin-right: -1.7rem;
        margin-left: -1.7rem
      }
    }
    .grid__row--center {
      -webkit-justify-content: center;
      justify-content: center
    }
    [class*=grid__column--] {
      padding-right: 1rem;
      padding-left: 1rem
    }
    @media only screen and (min-width:768px) {
      [class*=grid__column--] {
        padding-right: 1.4rem;
        padding-left: 1.4rem
      }
    }
    @media only screen and (min-width:1140px) {
      [class*=grid__column--] {
        padding-right: 1.7rem;
        padding-left: 1.7rem
      }
    }
    .grid__column--phone--4 {
      max-width: 100%;
      -webkit-flex-basis: 100%;
      flex-basis: 100%
    }
    @media only screen and (min-width:768px) {
      .grid__column--tablet--4 {
        max-width: 33.33333%;
        -webkit-flex-basis: 33.33333%;
        flex-basis: 33.33333%
      }
    }
    @media only screen and (min-width:768px) {
      .grid__column--tablet--6 {
        max-width: 50%;
        -webkit-flex-basis: 50%;
        flex-basis: 50%
      }
    }
    @media only screen and (min-width:1140px) {
      .grid__column--desktop--5 {
        max-width: 41.66667%;
        -webkit-flex-basis: 41.66667%;
        flex-basis: 41.66667%
      }
    }
    @media only screen and (min-width:1140px) {
      .grid__column--desktop--7 {
        max-width: 58.33333%;
        -webkit-flex-basis: 58.33333%;
        flex-basis: 58.33333%
      }
    }
    .button {
      position: relative;
      z-index: 1;
      display: inline-block;
      overflow: hidden;
      border: .3rem solid;
      -webkit-appearance: none;
      font-weight: 600;
      outline: 0;
      text-align: center;
      text-transform: uppercase;
      transition: background-color .25s cubic-bezier(.45, .05, .55, .95) 0ms, border-color .25s cubic-bezier(.45, .05, .55, .95) 0ms, box-shadow .25s cubic-bezier(.45, .05, .55, .95) 0ms, color .25s cubic-bezier(.45, .05, .55, .95) 0ms, opacity .25s cubic-bezier(.45, .05, .55, .95) 0ms;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap
    }
    .button, .button[type] {
      cursor: pointer
    }
    .button:active, .button:focus, .button:hover {
      text-decoration: none
    }
    @media only screen and (max-width:767px) {
      .button {
        white-space: normal
      }
    }
    .buttons {
      text-align: center
    }
    .buttons .button {
      width: 90%;
      margin-bottom: 1.5rem
    }
    @media only screen and (min-width:768px) {
      .buttons .button {
        width: auto;
        min-width: 15rem;
        margin: 0 2rem
      }
    }
    .buttons__separator {
      display: none
    }
    @media only screen and (min-width:768px) {
      .buttons__separator {
        display: inline-block
      }
    }
    .button--medium {
      padding: 1.5rem 2.5rem 1.3rem;
      font-size: 1.6rem
    }
    .button--big, .button--medium {
      border-radius: 3.2rem;
      line-height: 1
    }
    .button--big {
      padding: 1.4rem 1.3rem 1.2rem;
      font-size: 1.4rem
    }
    @media only screen and (max-width:767px) {
      .button--big {
        line-height: 1.5
      }
    }
    @media only screen and (min-width:768px) {
      .button--big {
        padding: 2rem 5.6rem 1.8rem;
        font-size: 1.8rem
      }
    }
    .button--red {
      border-color: #e44747;
      background: #e44747;
      color: #fff
    }
    .button--red:hover {
      border-color: #d04141;
      background: #d04141;
      color: #fff
    }
    .button--red:active {
      border-color: #a71f1f;
      background: #e44747;
      color: #fff
    }
    .button--red:focus {
      box-shadow: 0 .4rem 4rem -.5rem #e44747;
      color: #fff
    }
    .button--red:hover:focus, .button--red:hover:focus:active {
      color: #fff
    }
    .button--red-line {
      border-color: #e44747;
      background: #fff;
      color: #e44747
    }
    .button--red-line:hover {
      border-color: #e44747;
      background: #e44747;
      color: #fff
    }
    .button--red-line:active {
      border-color: #e44747;
      background: #fff;
      color: #e44747
    }
    .button--red-line:focus {
      box-shadow: 0 .4rem 4rem -.5rem #e44747;
      color: #e44747
    }
    .button--red-line:hover:focus {
      color: #fff
    }
    .button--red-line:hover:focus:active {
      color: #e44747
    }
    .button--white {
      border-color: #fff;
      background: #fff;
      color: #3983fa
    }
    .button--white:hover {
      border-color: transparent;
      background: hsla(0, 0%, 100%, .6);
      color: #3983fa
    }
    .button--white:active {
      border-color: #3983fa;
      background: #fff;
      color: #3983fa
    }
    .button--white:focus {
      box-shadow: 0 .4rem 4rem -.5rem rgba(41, 63, 113, .6);
      color: #3983fa
    }
    .button--white:hover:focus, .button--white:hover:focus:active {
      color: #3983fa
    }
    .button--light-blue {
      border-color: #f1f8fe;
      background: #f1f8fe;
      color: #3983fa
    }
    .button--light-blue:hover {
      border-color: #3983fa;
      background: #3983fa;
      color: #fff
    }
    .button--light-blue:active {
      border-color: #3983fa;
      background: #f1f8fe;
      color: #3983fa
    }
    .button--light-blue:focus {
      box-shadow: 0 .4rem 4rem -.5rem #3983fa;
      color: #3983fa
    }
    .button--light-blue:hover:focus {
      color: #fff
    }
    .button--light-blue:hover:focus:active {
      color: #3983fa
    }
    .h1, h1 {
      font-size: 3.5rem;
      line-height: 1.25;
      padding: 0;
      margin: 0;
      font-weight: 500
    }
    @media only screen and (min-width:768px) {
      .h1, h1 {
        font-size: 4.4rem
      }
    }
    .h2, h2 {
      font-size: 2.9rem;
      line-height: 1.5;
      padding: 0;
      margin: 0;
      font-weight: 500
    }
    @media only screen and (min-width:768px) {
      .h2, h2 {
        font-size: 3.6rem
      }
    }
    .h3, h3 {
      font-size: 2.1rem;
      line-height: 1.5;
      padding: 0;
      margin: 0;
      font-weight: 500
    }
    @media only screen and (min-width:768px) {
      .h3, h3 {
        font-size: 2.6rem
      }
    }
    .h4, h4 {
      font-size: 1.8rem;
      line-height: 1.5;
      padding: 0;
      margin: 0;
      font-weight: 500
    }
    @media only screen and (min-width:768px) {
      .h4, h4 {
        font-size: 2.2rem
      }
    }
    .h5, h5 {
      font-size: 1.6rem;
      line-height: 1.5;
      padding: 0;
      margin: 0;
      font-weight: 500
    }
    @media only screen and (min-width:768px) {
      .h5, h5 {
        font-size: 1.8rem
      }
    }
    .text--white {
      color: #fff
    }
    .text--grey {
      color: #838fa0
    }
    .text--red {
      color: #e44747
    }
    .text--center {
      text-align: center;
      margin-right: auto;
      margin-left: auto
    }
    .text--left {
      text-align: left
    }
    .text--bold {
      font-weight: 500
    }
    .text--normal {
      font-weight: 400
    }
    @media only screen and (min-width:768px) {
      .text--width-small {
        max-width: 78rem
      }
    }
    .mb-0--phone {
      margin-bottom: 0
    }
    .mb-20--phone {
      margin-bottom: 2rem
    }
    .mb-25--phone {
      margin-bottom: 2.5rem
    }
    .mb-30--phone {
      margin-bottom: 3rem
    }
    .mb-40--phone {
      margin-bottom: 4rem
    }
    .mt-10--phone {
      margin-top: 1rem
    }
    .mt-15--phone {
      margin-top: 1.5rem
    }
    .mt-25--phone {
      margin-top: 2.5rem
    }
    .mt-30--phone {
      margin-top: 3rem
    }
    .mt-35--phone {
      margin-top: 3.5rem
    }
    @media only screen and (min-width:768px) {
      .mt-0--tablet {
        margin-top: 0
      }
    }
    @media only screen and (min-width:768px) {
      .mb-0--tablet {
        margin-bottom: 0
      }
    }
    @media only screen and (min-width:768px) {
      .mt-25--tablet {
        margin-top: 2.5rem
      }
    }
    @media only screen and (min-width:768px) {
      .mt-40--tablet {
        margin-top: 4rem
      }
    }
    @media only screen and (min-width:768px) {
      .mt-45--tablet {
        margin-top: 4.5rem
      }
    }
    @media only screen and (min-width:768px) {
      .mb-80--tablet {
        margin-bottom: 8rem
      }
    }
    @media only screen and (min-width:768px) {
      .mb-100--tablet {
        margin-bottom: 10rem
      }
    }
    @media only screen and (min-width:1140px) {
      .mb-0--desktop {
        margin-bottom: 0
      }
    }
    @media only screen and (min-width:1140px) {
      .mt-45--desktop {
        margin-top: 4.5rem
      }
    }
    .section--large {
      padding-top: 6rem;
      padding-bottom: 6rem
    }
    @media only screen and (min-width:768px) {
      .section--large {
        padding-top: 10rem;
        padding-bottom: 10rem
      }
    }
    @media only screen and (min-width:1140px) {
      .section--large {
        padding-top: 10rem;
        padding-bottom: 10rem
      }
    }
    .section--medium {
      padding-top: 4rem;
      padding-bottom: 4rem
    }
    @media only screen and (min-width:768px) {
      .section--medium {
        padding-top: 6rem;
        padding-bottom: 6rem
      }
    }
    .section--small {
      padding-top: 2rem;
      padding-bottom: 2rem
    }
    @media only screen and (min-width:768px) {
      .section--small {
        padding-top: 3rem;
        padding-bottom: 3rem
      }
    }
    @media only screen and (min-width:1140px) {
      .section--small {
        padding-top: 4rem;
        padding-bottom: 4rem
      }
    }
    .no-js .section--border, .section--border {
      border-bottom: .1rem solid rgba(35, 49, 67, .05)
    }
    .no-js .section--white, .section--white {
      background: #fff
    }
    .no-js .section--grey, .section--grey {
      background: #fafafb
    }
    .no-js .section--light-blue, .section--light-blue {
      background: #f1f8fe
    }
    .no-js .section--shadow, .section--shadow {
      position: relative;
      z-index: 0;
      overflow: hidden
    }
    .no-js .section--shadow:after, .section--shadow:after {
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: -50%;
      width: 200%;
      height: 9rem;
      background-image: linear-gradient(180deg, transparent, #3983fa);
      content: "";
      opacity: .03
    }
    .no-js .section--triangles, .section--triangles {
      background: #3983fa url(https://cdn-images.zety.com/images/common/patterns/triangles-400.jpg) repeat 50%;
      background-size: 40.2rem 40.2rem
    }
    @media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
      .no-js .section--triangles, .section--triangles {
        background-image: url(https://cdn-images.zety.com/images/common/patterns/triangles-400@2x.jpg)
      }
    }
    @media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
      .no-js .section--triangles, .section--triangles {
        background-image: url(https://cdn-images.zety.com/images/common/patterns/triangles-400@3x.jpg)
      }
    }
    .lazyload {
      background: none
    }
    .section__subtitle {
      max-width: 72rem;
      padding: 0 2.5rem;
      margin: 3.5rem auto 3rem;
      color: #676b78;
      font-size: 1.6rem;
      line-height: 1.6;
      text-align: center
    }
    @media only screen and (min-width:768px) {
      .section__subtitle {
        margin: 3.2rem auto 1rem
      }
    }
    .language-switcher {
      position: relative;
      z-index: 1;
      display: inline-block;
      font-size: 1.4rem;
      font-weight: 400
    }
    .language-switcher:before {
      position: fixed;
      z-index: 0;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      background: hsla(0, 0%, 100%, .6);
      content: "";
      opacity: 0;
      pointer-events: none;
      transition: opacity .25s cubic-bezier(.45, .05, .55, .95) 0ms
    }
    .language-switcher__items {
      position: absolute;
      padding: 1rem 1.8rem;
      border: .1rem solid #d9dfea;
      border-radius: 0 0 .4rem .4rem;
      box-shadow: -.2rem -.2rem 5.1rem 1.6rem #e1e1e1;
      font-size: 1.4rem;
      list-style: none;
      opacity: 0;
      pointer-events: none
    }
    @media only screen and (max-width:1139px) {
      .language-switcher__items {
        bottom: 87%;
        width: 100%
      }
    }
    @media only screen and (min-width:1140px) {
      .language-switcher__items {
        top: 100%;
        right: 0;
        left: 0;
        margin-top: -.1rem
      }
    }
    .language-switcher__link {
      display: inline-block;
      width: 100%;
      padding: .7rem 0;
      color: #233143;
      cursor: pointer
    }
    .language-switcher__link:hover {
      color: #008af7;
      text-decoration: none
    }
    .language-switcher__active {
      position: relative;
      display: inline-block;
      padding: 1.5rem 1.8rem;
      border: .1rem solid transparent
    }
    @media only screen and (min-width:1140px) {
      .language-switcher__active {
        width: auto;
        min-width: 12.3rem;
        padding: 1rem 3.6rem 1rem 1.3rem;
        background: #fafafb;
        border-radius: 2.8rem
      }
    }
    .language-switcher__active:after {
      position: absolute;
      z-index: 3;
      top: 50%;
      right: 1.3rem;
      display: block;
      width: 0;
      height: 0;
      border-color: #676b78 transparent transparent;
      border-style: solid;
      border-width: .4rem .4rem 0;
      margin-top: -.1rem;
      content: "";
      transition: -webkit-transform .25s cubic-bezier(.45, .05, .55, .95) 0ms;
      transition: transform .25s cubic-bezier(.45, .05, .55, .95) 0ms;
      transition: transform .25s cubic-bezier(.45, .05, .55, .95) 0ms, -webkit-transform .25s cubic-bezier(.45, .05, .55, .95) 0ms
    }
    .language-switcher:hover:before {
      opacity: 1
    }
    .language-switcher:hover .language-switcher__active {
      z-index: 3;
      border-color: #d9dfea;
      background: #fff;
      border-radius: .4rem .4rem 0 0
    }
    .language-switcher:hover .language-switcher__active:after {
      right: 1.8rem;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg)
    }
    @media only screen and (max-width:1139px) {
      .language-switcher:hover .language-switcher__active {
        width: 100%
      }
    }
    .language-switcher:hover .language-switcher__items {
      background: #fff;
      opacity: 1;
      pointer-events: auto
    }
    .menu {
      margin-bottom: 2.7rem
    }
    @media only screen and (max-width:1139px) {
      .menu {
        padding: 2.7rem 0 0
      }
    }
    @media only screen and (min-width:1140px) {
      .menu {
        padding-right: 2.4rem;
        margin: 0
      }
    }
    .menu__list {
      list-style: none
    }
    .menu__item {
      text-align: center
    }
    @media only screen and (min-width:1140px) {
      .menu__item {
        position: relative;
        display: inline-block
      }
    }
    .menu__item:before {
      position: absolute;
      z-index: 1;
      top: .1rem;
      left: 0;
      display: none;
      width: 100%;
      height: 100%;
      border: .1rem solid #d9dfea;
      background: #fff;
      border-radius: .4rem;
      content: ""
    }
    @media only screen and (min-width:1140px) {
      .menu__item:hover.submenu__wrapper:after {
        opacity: 1
      }
      .menu__item:hover.submenu__wrapper:before {
        z-index: 4;
        display: block
      }
      .menu__item:hover .submenu {
        z-index: 3;
        display: block
      }
      .menu__item:hover .menu__link {
        z-index: 4;
        color: #3983fa
      }
    }
    .menu__item:last-child .submenu {
      right: -.2rem;
      left: auto;
      border-top-left-radius: .4rem;
      border-top-right-radius: 0
    }
    .menu__link {
      position: relative;
      z-index: 2;
      display: inline-block;
      padding: 1.1rem 3.3rem;
      color: #233143;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 400;
      transition: color .25s cubic-bezier(.45, .05, .55, .95) 0ms
    }
    .menu__link:hover {
      color: inherit;
      text-decoration: none
    }
    @media only screen and (min-width:768px) {
      .menu__link {
        padding: 1.5rem 1.9rem
      }
    }
    @media only screen and (min-width:1140px) {
      .menu__link {
        padding: 1.5rem 2rem;
        font-size: 1.6rem
      }
    }
    .menu__link:after {
      display: block;
      overflow: hidden;
      height: 0;
      content: attr(data-title);
      font-weight: 600;
      visibility: hidden
    }
    .submenu {
      position: absolute;
      top: 7.6rem;
      right: 0;
      width: 100%;
      height: 0;
      background: #fff;
      opacity: 0;
      transition: right .25s cubic-bezier(.45, .05, .55, .95) 0ms, opacity .25s cubic-bezier(.45, .05, .55, .95) 0ms
    }
    @media only screen and (max-width:767px) {
      .submenu {
        padding-bottom: 10vh
      }
    }
    @media only screen and (max-width:1139px) {
      .submenu {
        top: 0;
        padding-top: 9.4rem;
        overflow-y: scroll
      }
    }
    @media only screen and (min-width:1140px) {
      .submenu {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        overflow: auto;
        min-width: 42rem;
        height: auto;
        max-height: calc(100vh - 9.4rem);
        border: .1rem solid #d9dfea;
        margin-top: .1rem;
        background: #fff;
        border-radius: 0 .4rem .4rem .4rem;
        box-shadow: -.1rem 0 1.6rem 0 #e1e1e1;
        opacity: 1
      }
    }
    .submenu__list {
      padding: 1.1rem 1.5rem 1rem 2.5rem;
      border-top: .1rem solid #d9dfea;
      background: #f1f8fe;
      list-style: none;
      text-align: left
    }
    @media only screen and (min-width:1140px) {
      .submenu__list {
        max-height: calc(100vh - 9.4rem);
        padding: 1.1rem 1.5rem 1.1rem 2.5rem
      }
    }
    .submenu__wrapper:before {
      border-width: .1rem .1rem 0;
      border-radius: .4rem .4rem 0 0
    }
    @media only screen and (min-width:768px) {
      .submenu__wrapper:after {
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background: hsla(0, 0%, 100%, .6);
        content: "";
        opacity: 0;
        pointer-events: none;
        transition: opacity .25s cubic-bezier(.45, .05, .55, .95) 0ms
      }
    }
    @media only screen and (min-width:1140px) {
      .submenu__wrapper .menu__link:before {
        position: absolute;
        z-index: 3;
        top: 50%;
        right: 1rem;
        display: block;
        width: 0;
        height: 0;
        border-color: #676b78 transparent transparent;
        border-style: solid;
        border-width: .4rem .4rem 0;
        margin-top: -.2rem;
        content: "";
        transition: -webkit-transform .25s cubic-bezier(.45, .05, .55, .95) 0ms;
        transition: transform .25s cubic-bezier(.45, .05, .55, .95) 0ms;
        transition: transform .25s cubic-bezier(.45, .05, .55, .95) 0ms, -webkit-transform .25s cubic-bezier(.45, .05, .55, .95) 0ms
      }
    }
    @media only screen and (min-width:1140px) {
      .submenu__wrapper:hover .menu__link:before {
        border-top-color: #3983fa;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
      }
    }
    .submenu__wrapper--active .submenu {
      z-index: 3;
      right: 0;
      width: 100%;
      opacity: 1
    }
    @media only screen and (max-width:767px) {
      .submenu__wrapper--active .submenu {
        position: fixed;
        height: 100vh;
        background-color: #f1f8fe
      }
    }
    @media only screen and (min-width:768px) {
      .submenu__wrapper--active .submenu {
        height: 100%
      }
    }
    .submenu__item {
      position: relative;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      padding: 1.5rem 0 1.5rem 3rem
    }
    @media only screen and (min-width:1140px) {
      .submenu__item {
        padding: 1rem 0 1rem 3.9rem;
        cursor: pointer
      }
    }
    .submenu__item:hover .submenu__icon svg {
      stroke: #3983fa
    }
    .submenu__item:hover .submenu__desc, .submenu__item:hover .submenu__link {
      color: #3983fa
    }
    .submenu__link {
      display: inline-block;
      padding-right: 1rem;
      color: #233143;
      font-size: 1.8rem;
      font-weight: 500;
      transition: color .25s cubic-bezier(.45, .05, .55, .95) 0ms
    }
    @media only screen and (min-width:1140px) {
      .submenu__link {
        font-size: 1.4rem
      }
    }
    .submenu__link:hover {
      color: inherit;
      text-decoration: none
    }
    .submenu__desc {
      display: none
    }
    @media only screen and (min-width:1140px) {
      .submenu__desc {
        display: inline-block;
        margin-top: .4rem;
        color: #7b909f;
        font-size: 1.2rem;
        font-weight: 400;
        transition: color .25s cubic-bezier(.45, .05, .55, .95) 0ms
      }
    }
    .submenu__icon {
      position: absolute;
      top: 1.5rem;
      left: 0;
      display: inline-block;
      height: 2.4rem;
      padding-right: 1.5rem
    }
    .submenu__icon svg {
      display: block;
      width: 2.2rem;
      height: auto;
      fill: none;
      stroke: currentColor;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: .1rem;
      transition: stroke .25s cubic-bezier(.45, .05, .55, .95) 0ms
    }
    .submenu__title {
      padding: 3.7rem 2.2rem 3.7rem 13rem;
      background-color: #fff;
      background-position: 1rem;
      background-repeat: no-repeat;
      background-size: 10.5rem;
      text-align: center
    }
    @media only screen and (min-width:1140px) {
      .submenu__title {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        cursor: pointer;
        text-align: left
      }
    }
    .submenu__title__img {
      display: none
    }
    @media only screen and (min-width:1140px) {
      .submenu__title__img {
        display: block;
        max-width: 10.5rem;
        margin-right: 1rem
      }
    }
    .submenu__title__link {
      display: block;
      margin: 0 0 .5rem;
      color: #233143;
      font-size: 2.2rem;
      font-weight: 400;
      transition: color .25s cubic-bezier(.45, .05, .55, .95) 0ms
    }
    @media only screen and (min-width:1140px) {
      .submenu__title__link {
        font-size: 2rem
      }
    }
    .submenu__title__desc {
      color: #233143;
      font-size: 1.4rem;
      font-weight: 400;
      transition: color .25s cubic-bezier(.45, .05, .55, .95) 0ms
    }
    .submenu__title--curriculum-online, .submenu__title--resumebuilder {
      background-image: url(https://cdn-images.zety.com/images/common/icons/icon-resume-builder@1_25x.png)
    }
    @media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
      .submenu__title--curriculum-online, .submenu__title--resumebuilder {
        background-image: url(https://cdn-images.zety.com/images/common/icons/icon-resume-builder@2x.png)
      }
    }
    @media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
      .submenu__title--curriculum-online, .submenu__title--resumebuilder {
        background-image: url(https://cdn-images.zety.com/images/common/icons/icon-resume-builder@3x.png)
      }
    }
    .submenu__title--coverletter {
      background-image: url(https://cdn-images.zety.com/images/common/icons/icon-cover-letter@1_25x.png)
    }
    @media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
      .submenu__title--coverletter {
        background-image: url(https://cdn-images.zety.com/images/common/icons/icon-cover-letter@2x.png)
      }
    }
    @media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
      .submenu__title--coverletter {
        background-image: url(https://cdn-images.zety.com/images/common/icons/icon-cover-letter@3x.png)
      }
    }
    .submenu__title--careercourse {
      background-image: url(https://cdn-images.zety.com/images/common/icons/icon-career-course@1_25x.png)
    }
    @media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
      .submenu__title--careercourse {
        background-image: url(https://cdn-images.zety.com/images/common/icons/icon-career-course@2x.png)
      }
    }
    @media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
      .submenu__title--careercourse {
        background-image: url(https://cdn-images.zety.com/images/common/icons/icon-career-course@3x.png)
      }
    }
    .submenu__title:hover .submenu__title__desc, .submenu__title:hover .submenu__title__link {
      color: #3983fa
    }
    .submenu__button {
      width: 100%;
      padding: 1.5rem
    }
    @media only screen and (max-width:767px) {
      .submenu__button {
        border-radius: 0
      }
    }
    @media only screen and (min-width:768px) {
      .submenu__button {
        border-radius: 0 0 .4rem .4rem
      }
    }
    .hamburger {
      display: inline-block;
      overflow: visible;
      border: 0;
      margin: 0;
      background-color: transparent;
      color: inherit;
      cursor: pointer;
      font: inherit;
      font-size: 0;
      text-transform: none;
      transition-duration: .15s;
      transition-property: opacity, -webkit-filter;
      transition-property: opacity, filter;
      transition-property: opacity, filter, -webkit-filter;
      transition-timing-function: linear
    }
    .hamburger__box {
      position: relative;
      z-index: 1;
      display: inline-block;
      width: 3rem;
      height: 3rem
    }
    .hamburger__inner {
      top: 50%;
      display: block;
      margin-top: -.2rem
    }
    .hamburger__inner, .hamburger__inner:after, .hamburger__inner:before {
      position: absolute;
      width: 3rem;
      height: .4rem;
      background-color: #233143;
      transition-duration: .15s;
      transition-property: -webkit-transform;
      transition-property: transform;
      transition-property: transform, -webkit-transform;
      transition-timing-function: ease
    }
    .hamburger__inner:after, .hamburger__inner:before {
      display: block;
      content: ""
    }
    .hamburger__inner:before {
      top: -.9rem;
      transition: top 75ms ease .12s, opacity 75ms ease
    }
    .hamburger__inner:after {
      bottom: -.9rem;
      transition: bottom 75ms ease .12s, -webkit-transform 75ms cubic-bezier(.55, .05, .68, .19);
      transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55, .05, .68, .19);
      transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55, .05, .68, .19), -webkit-transform 75ms cubic-bezier(.55, .05, .68, .19)
    }
    .hamburger--close .hamburger__inner {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      transition-delay: .12s;
      transition-timing-function: cubic-bezier(.22, .61, .35, 1)
    }
    .hamburger--close .hamburger__inner:after {
      bottom: 0;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      transition: bottom 75ms ease, -webkit-transform 75ms cubic-bezier(.22, .61, .35, 1) .12s;
      transition: bottom 75ms ease, transform 75ms cubic-bezier(.22, .61, .35, 1) .12s;
      transition: bottom 75ms ease, transform 75ms cubic-bezier(.22, .61, .35, 1) .12s, -webkit-transform 75ms cubic-bezier(.22, .61, .35, 1) .12s
    }
    .hamburger--close .hamburger__inner:before {
      top: 0;
      opacity: 0;
      transition: top 75ms ease, opacity 75ms ease .12s
    }
    .hamburger--arrow .hamburger__inner:after {
      bottom: -.6rem;
      -webkit-transform: translate3d(-.8rem, 0, 0) rotate(45deg) scaleX(.7);
      transform: translate3d(-.8rem, 0, 0) rotate(45deg) scaleX(.7)
    }
    .hamburger--arrow .hamburger__inner:before {
      top: -.6rem;
      -webkit-transform: translate3d(-.8rem, 0, 0) rotate(-45deg) scaleX(.7);
      transform: translate3d(-.8rem, 0, 0) rotate(-45deg) scaleX(.7)
    }
    .mediabar {
      display: inline-block;
      cursor: default;
      font-size: 0;
      line-height: 0;
      text-align: center;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none
    }
    @media only screen and (min-width:768px) {
      .mediabar {
        display: block
      }
    }
    .mediabar__section {
      position: relative;
      z-index: 1;
      margin-top: -5rem
    }
    @media only screen and (min-width:768px) {
      .mediabar__section {
        margin-top: -9.8rem
      }
    }
    .mediabar__title {
      margin-bottom: 2.4rem;
      color: #233143;
      font-size: 2.3rem;
      font-weight: 600;
      line-height: 2.7rem
    }
    @media only screen and (min-width:768px) {
      .mediabar__title {
        font-size: 2.4rem
      }
    }
    @media only screen and (min-width:768px) {
      .mediabar__icons {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between
      }
    }
    .mediabar__item {
      display: inline-block;
      width: auto;
      height: 1.65rem;
      margin: 1.5rem 2rem;
      transition: fill .25s cubic-bezier(.45, .05, .55, .95) 0ms;
      vertical-align: middle
    }
    .mediabar__item:hover {
      fill: #3983fa;
      cursor: pointer
    }
    @media only screen and (min-width:768px) {
      .mediabar__item {
        margin: 1rem 2rem
      }
    }
    @media only screen and (min-width:1140px) {
      .mediabar__item {
        height: 2rem;
        margin: 0
      }
    }
    .mediabar__item--goldenline {
      height: 4.8rem
    }
    @-webkit-keyframes fadeOut {
      0% {
        opacity: 1
      }
      99% {
        width: 38rem;
        height: auto;
        opacity: .01
      }
      to {
        width: 0;
        height: 0;
        opacity: 0
      }
    }
    @keyframes fadeOut {
      0% {
        opacity: 1
      }
      99% {
        width: 38rem;
        height: auto;
        opacity: .01
      }
      to {
        width: 0;
        height: 0;
        opacity: 0
      }
    }
    @-webkit-keyframes fadeIn {
      0% {
        width: 0;
        height: 0;
        opacity: 0
      }
      99% {
        width: 0;
        height: 0;
        opacity: .01
      }
      to {
        width: 38rem;
        height: auto;
        opacity: 1
      }
    }
    @keyframes fadeIn {
      0% {
        opacity: 0
      }
      to {
        opacity: 1
      }
    }
    .cookie-policy {
      position: fixed;
      z-index: 99;
      right: 5%;
      bottom: 2rem;
      width: 38rem;
      max-width: 90%;
      padding: 2rem;
      background: #3983fa;
      border-radius: .4rem;
      color: #fff
    }
    @media only screen and (min-width:768px) {
      .cookie-policy {
        right: 2rem
      }
    }
    .cookie-policy:not(.cookie-policy--visible) {
      -webkit-animation: fadeout .5s;
      animation: fadeOut .5s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards
    }
    .cookie-policy--visible {
      display: block;
      -webkit-animation: fadein .5s;
      animation: fadeIn .5s;
      opacity: 1
    }
    .cookie-policy--hidden {
      display: none
    }
    .cookie-policy a {
      color: #f1f8fe;
      text-decoration: underline
    }
    .cookie-policy__button {
      margin-top: 2rem
    }
    .counter {
      padding-top: 16rem;
      margin-bottom: 2rem;
      background-position: top;
      background-repeat: no-repeat;
      background-size: 14.2rem auto;
      text-align: center
    }
    .counter--visitors {
      background-image: url(https://cdn-images.zety.com/images/zety/landings/home/every-year-we-help-visitors-142@1_25x.jpg)
    }
    @media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
      .counter--visitors {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/home/every-year-we-help-visitors-142@2x.jpg)
      }
    }
    @media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
      .counter--visitors {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/home/every-year-we-help-visitors-142@3x.jpg)
      }
    }
    .counter--resumes {
      background-image: url(https://cdn-images.zety.com/images/zety/landings/home/ours-users-have-created-resumes-142@1_25x.jpg)
    }
    @media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
      .counter--resumes {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/home/ours-users-have-created-resumes-142@2x.jpg)
      }
    }
    @media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
      .counter--resumes {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/home/ours-users-have-created-resumes-142@3x.jpg)
      }
    }
    .counter--trustpilot {
      background-image: url(https://cdn-images.zety.com/images/zety/landings/home/proven-by-trustpilot-reviews-142@1_25x.jpg)
    }
    @media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
      .counter--trustpilot {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/home/proven-by-trustpilot-reviews-142@2x.jpg)
      }
    }
    @media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
      .counter--trustpilot {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/home/proven-by-trustpilot-reviews-142@3x.jpg)
      }
    }
    .counter--members {
      background-image: url(https://cdn-images.zety.com/images/zety/landings/home/a-team-of-passionate-members-142@1_25x.jpg)
    }
    @media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
      .counter--members {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/home/a-team-of-passionate-members-142@2x.jpg)
      }
    }
    @media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
      .counter--members {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/home/a-team-of-passionate-members-142@3x.jpg)
      }
    }
    .counter--examples {
      background-image: url(https://cdn-images.zety.com/images/zety/landings/career-course/examples-142@1_25x.png)
    }
    @media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
      .counter--examples {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/career-course/examples-142@2x.png)
      }
    }
    @media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
      .counter--examples {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/career-course/examples-142@3x.png)
      }
    }
    .counter--copy-pastable {
      background-image: url(https://cdn-images.zety.com/images/zety/landings/career-course/copy-pastable-142@1_25x.png)
    }
    @media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
      .counter--copy-pastable {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/career-course/copy-pastable-142@2x.png)
      }
    }
    @media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
      .counter--copy-pastable {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/career-course/copy-pastable-142@3x.png)
      }
    }
    .counter--cheat-sheets {
      background-image: url(https://cdn-images.zety.com/images/zety/landings/career-course/cheat-sheets-142@1_25x.png)
    }
    @media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
      .counter--cheat-sheets {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/career-course/cheat-sheets-142@2x.png)
      }
    }
    @media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
      .counter--cheat-sheets {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/career-course/cheat-sheets-142@3x.png)
      }
    }
    @media only screen and (min-width:768px) {
      .counter {
        margin: 0
      }
    }
    .counter__number {
      color: #3983fa;
      font-size: 2.2rem
    }
    @media only screen and (min-width:768px) {
      .counter__number {
        font-size: 3.2rem
      }
    }
    .counter__desc {
      font-size: 1.4rem
    }
    @media only screen and (min-width:768px) {
      .counter__desc {
        margin: .8rem 0;
        font-size: 1.6rem
      }
    }
    @media only screen and (min-width:768px) {
      .counter__wrapper {
        margin-top: 10rem
      }
    }
    .ticker {
      display: inline-block;
      width: 100%;
      padding: 0 2rem;
      margin-top: 0;
      color: #233143;
      opacity: .2;
      text-align: center;
      vertical-align: top;
      white-space: normal
    }
    @media only screen and (min-width:768px) {
      .ticker {
        width: 33.33%
      }
    }
    .ticker__wrapper {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 15rem;
      box-sizing: border-box;
      margin: 1rem 0
    }
    @media only screen and (min-width:768px) {
      .ticker__wrapper {
        margin: 4rem 0
      }
    }
    @media only screen and (min-width:1140px) {
      .ticker__wrapper {
        height: 10rem
      }
    }
    .ticker--active {
      opacity: 1
    }
    .ticker__inner {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      margin: 2rem 0;
      transition: -webkit-transform .25s cubic-bezier(.45, .05, .55, .95) 0ms;
      transition: transform .25s cubic-bezier(.45, .05, .55, .95) 0ms;
      transition: transform .25s cubic-bezier(.45, .05, .55, .95) 0ms, -webkit-transform .25s cubic-bezier(.45, .05, .55, .95) 0ms;
      white-space: nowrap
    }
    .article-item {
      margin-top: 8rem;
      text-align: center
    }
    @media only screen and (min-width:768px) {
      .article-item--link {
        cursor: pointer
      }
    }
    .article-item--link:hover .article-item__link {
      color: #3983fa
    }
    .article-item__title {
      margin: 1.8rem 0 0;
      font-size: 1.8rem
    }
    @media only screen and (min-width:768px) {
      .article-item__title {
        margin: 2.5rem 0 0;
        font-size: 2.6rem
      }
    }
    .article-item__link {
      color: #173242;
      font-weight: 400
    }
    .article-item__description {
      margin: 1rem 0 1.6rem;
      color: #676b78
    }
    @media only screen and (min-width:768px) {
      .article-item__description {
        margin: 2.2rem 0;
        line-height: 1.7
      }
    }
    .article-item__wrapper {
      position: relative
    }
    .article-item__wrapper:before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 10rem;
      content: "";
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMDIgMTQwIj48cGF0aCBmaWxsPSIjMzk4M0ZBIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMTMuNDc3IDEzNkw0NC40OTUgNjUuMzM1Yy0uNzUzLS43NzItMi4xMDktLjc3Mi0yLjg2MiAwTDQgMTAzLjg4N1Y0aDE5NHYxMDEuMTMxbC01NC44NDEtNTYuMThjLS43NTMtLjc3MS0yLjExLS43NzEtMi44NjIgMGwtNDcuMzcgNDguNTI2YTIgMiAwIDEwMi44NjIgMi43OTRsNDUuOTM5LTQ3LjA2IDU1Ljk2NCA1Ny4zM2MuMDk1LjA5OC4xOTkuMTgzLjMwOC4yNTdWMTM2aC04NC41MjN6TTQgMTA5LjYxM2wzOS4wNjQtNDAuMDE4TDEwNy44ODcgMTM2SDR2LTI2LjM4N3pNMjAwIDBhMiAyIDAgMDEyIDJ2MTM2YTIgMiAwIDAxLTIgMkgyYTIgMiAwIDAxLTItMlYyYTIgMiAwIDAxMi0yaDE5OHptLTk4LjM1MSA0Ni4wMTdjMC05LjcxNy03LjczOS0xNy42MjItMTcuMjUtMTcuNjIycy0xNy4yNSA3LjkwNS0xNy4yNSAxNy42MjJjMCA5LjcxNyA3LjczOSAxNy42MjIgMTcuMjUgMTcuNjIyczE3LjI1LTcuOTA1IDE3LjI1LTE3LjYyMnptLTE3LjI1IDEzLjYyMmMtNy4zMDYgMC0xMy4yNS02LjExMS0xMy4yNS0xMy42MjJzNS45NDQtMTMuNjIyIDEzLjI1LTEzLjYyMiAxMy4yNSA2LjExIDEzLjI1IDEzLjYyMmMwIDcuNTEtNS45NDQgMTMuNjIyLTEzLjI1IDEzLjYyMnoiLz48L3N2Zz4=);
      z-index: 0
    }
    .article-item__image {
      position: relative;
      z-index: 1
    }
    @media only screen and (min-width:768px) {
      .carousel__button {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
      }
    }
    @media only screen and (max-width:767px) {
      .carousel__wrapper {
        position: relative
      }
      .carousel__wrapper:after {
        position: absolute;
        z-index: 0;
        top: -5rem;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMDIgMTQwIj48cGF0aCBmaWxsPSIjMzk4M0ZBIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMTMuNDc3IDEzNkw0NC40OTUgNjUuMzM1Yy0uNzUzLS43NzItMi4xMDktLjc3Mi0yLjg2MiAwTDQgMTAzLjg4N1Y0aDE5NHYxMDEuMTMxbC01NC44NDEtNTYuMThjLS43NTMtLjc3MS0yLjExLS43NzEtMi44NjIgMGwtNDcuMzcgNDguNTI2YTIgMiAwIDEwMi44NjIgMi43OTRsNDUuOTM5LTQ3LjA2IDU1Ljk2NCA1Ny4zM2MuMDk1LjA5OC4xOTkuMTgzLjMwOC4yNTdWMTM2aC04NC41MjN6TTQgMTA5LjYxM2wzOS4wNjQtNDAuMDE4TDEwNy44ODcgMTM2SDR2LTI2LjM4N3pNMjAwIDBhMiAyIDAgMDEyIDJ2MTM2YTIgMiAwIDAxLTIgMkgyYTIgMiAwIDAxLTItMlYyYTIgMiAwIDAxMi0yaDE5OHptLTk4LjM1MSA0Ni4wMTdjMC05LjcxNy03LjczOS0xNy42MjItMTcuMjUtMTcuNjIycy0xNy4yNSA3LjkwNS0xNy4yNSAxNy42MjJjMCA5LjcxNyA3LjczOSAxNy42MjIgMTcuMjUgMTcuNjIyczE3LjI1LTcuOTA1IDE3LjI1LTE3LjYyMnptLTE3LjI1IDEzLjYyMmMtNy4zMDYgMC0xMy4yNS02LjExMS0xMy4yNS0xMy42MjJzNS45NDQtMTMuNjIyIDEzLjI1LTEzLjYyMiAxMy4yNSA2LjExIDEzLjI1IDEzLjYyMmMwIDcuNTEtNS45NDQgMTMuNjIyLTEzLjI1IDEzLjYyMnoiLz48L3N2Zz4=);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 10rem;
        content: ""
      }
    }
    .carousel__image {
      position: relative;
      z-index: 1;
      max-width: 100%
    }
    .footer {
      padding: 4.5rem 0;
      background: #fafafb;
      overflow-x: hidden
    }
    @media only screen and (min-width:768px) {
      .footer {
        padding: 2rem 0
      }
    }
    .footer__wrapper {
      position: relative;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column-reverse;
      flex-direction: column-reverse;
      line-height: 1.4
    }
    @media only screen and (min-width:768px) {
      .footer__wrapper {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        -webkit-justify-content: space-between;
        justify-content: space-between
      }
    }
    @media only screen and (min-width:1140px) {
      .footer__wrapper {
        -webkit-align-items: flex-end;
        align-items: flex-end
      }
    }
    .footer__wrapper-bottom {
      padding-top: 1rem;
      border-top: .1rem solid #e8e8e8;
      margin-top: 1.5rem
    }
    .footer__sm {
      list-style: none
    }
    .footer__sm__item {
      display: inline-block;
      padding-right: 1.4rem
    }
    .footer__sm__wrapper {
      margin-top: 1.5rem
    }
    @media only screen and (min-width:768px) {
      .footer__sm__wrapper {
        margin: 0;
        vertical-align: text-bottom
      }
    }
    @media only screen and (min-width:1140px) {
      .footer__sm__wrapper {
        display: inline-block
      }
    }
    .footer__sm svg {
      width: auto;
      max-width: 2rem;
      height: 2rem;
      fill: #233143;
      transition: fill .25s cubic-bezier(.45, .05, .55, .95) 0ms
    }
    @media only screen and (min-width:768px) {
      .footer__sm svg {
        display: inline-block;
        vertical-align: middle
      }
    }
    .footer__sm svg:hover {
      fill: #3983fa
    }
    .footer__links {
      list-style: none
    }
    @media only screen and (min-width:768px) {
      .footer__links {
        display: inline-block;
        text-align: right
      }
    }
    @media only screen and (min-width:1140px) {
      .footer__links {
        margin-right: 2rem
      }
      .footer__links:after {
        content: "|"
      }
    }
    @media only screen and (min-width:768px) {
      .footer__links-wrapper {
        text-align: right
      }
    }
    .footer__links__item {
      margin: 0 0 1.5rem
    }
    @media only screen and (min-width:768px) {
      .footer__links__item {
        display: inline-block;
        margin: 1.5rem
      }
    }
    .footer__links__link {
      color: #233143;
      font-weight: 400;
      transition: color .25s cubic-bezier(.45, .05, .55, .95) 0ms
    }
    .footer__links__link:hover {
      text-decoration: none
    }
    .footer__copyright {
      margin: 4.5rem 0 0;
      color: #676b78
    }
    @media only screen and (min-width:768px) and (max-width:1139px) {
      .footer__copyright {
        -webkit-flex-basis: 30%;
        flex-basis: 30%
      }
    }
    @media only screen and (min-width:768px) {
      .footer__copyright {
        margin: 1.5rem 0
      }
    }
    .footer__bottom {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column
    }
    @media only screen and (min-width:768px) {
      .footer__bottom {
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between
      }
    }
    .footer__bottom .footer__title {
      color: #676b78
    }
    .footer__langlist {
      display: -webkit-flex;
      display: flex;
      min-height: 4.4rem
    }
    @media only screen and (min-width:768px) {
      .footer__langlist {
        min-width: 60rem;
        max-width: unset
      }
    }
    .footer__langlist .footer__title {
      padding-top: 1.1rem;
      padding-bottom: 1.1rem
    }
    .footer__langlist--list {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-align-items: center;
      align-items: center;
      list-style: none
    }
    .footer__langlist--link {
      display: block;
      padding: 1.1rem .5rem
    }
    .footer__phone {
      display: -webkit-flex;
      display: flex;
      min-height: 4.4rem;
      -webkit-align-items: center;
      align-items: center
    }
    .footer__phone--link {
      padding: 1.1rem .5rem;
      color: #233143;
      transition: color .25s cubic-bezier(.45, .05, .55, .95) 0ms
    }
    .footer__images {
      margin-top: 1rem
    }
    @media only screen and (min-width:768px) {
      .footer__images {
        height: auto;
        margin-top: 0
      }
    }
    .footer__images-item {
      display: inline-block;
      height: 3rem;
      margin: 0 2rem 0 0
    }
    @media only screen and (min-width:768px) {
      .footer__images-item {
        margin: 0 0 0 2rem
      }
    }
    .header {
      position: fixed;
      z-index: 10;
      top: 0;
      display: -webkit-flex;
      display: flex;
      width: 100%;
      height: 7.6rem;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      border-bottom: .1rem solid #f1f8fe;
      background: #fff;
      -webkit-transform: translateY(0) translateZ(0);
      transform: translateY(0) translateZ(0);
      transition: background-color .25s cubic-bezier(.45, .05, .55, .95) 0ms, -webkit-transform .25s cubic-bezier(.45, .05, .55, .95) 0ms;
      transition: transform .25s cubic-bezier(.45, .05, .55, .95) 0ms, background-color .25s cubic-bezier(.45, .05, .55, .95) 0ms;
      transition: transform .25s cubic-bezier(.45, .05, .55, .95) 0ms, background-color .25s cubic-bezier(.45, .05, .55, .95) 0ms, -webkit-transform .25s cubic-bezier(.45, .05, .55, .95) 0ms
    }
    @media only screen and (min-width:768px) {
      .header {
        height: 9.4rem
      }
    }
    @media only screen and (min-width:1140px) {
      .header {
        height: 11.4rem;
        border: none
      }
    }
    .header__grid {
      display: -webkit-flex;
      display: flex;
      width: 100%;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: space-between;
      justify-content: space-between
    }
    .header__logo {
      position: relative;
      z-index: 2;
      padding-right: 1.6rem
    }
    @media only screen and (min-width:1140px) {
      .header__logo {
        max-width: 19.1rem
      }
    }
    .header__logo__link {
      font-size: 0;
      line-height: 0
    }
    @media only screen and (max-width:1139px) {
      .header__lang {
        z-index: 3;
        display: block;
        width: 30rem;
        margin: 0 auto;
        color: #233143;
        font-size: 2rem;
        font-weight: 400
      }
      .header__lang .language-switcher__active:after {
        display: none
      }
    }
    @media only screen and (min-width:1140px) {
      .header__lang {
        margin: 0 2.4rem 0 0;
        text-align: left
      }
    }
    .header__hamburger {
      font-size: 0
    }
    @media only screen and (min-width:1140px) {
      .header__hamburger {
        display: none
      }
    }
    .header__menu {
      display: none
    }
    @media only screen and (max-width:767px) {
      .header__menu {
        height: 100vh;
        padding-top: 7.6rem
      }
      .header__menu:before {
        height: 7.6rem
      }
    }
    @media only screen and (max-width:1139px) {
      .header__menu {
        right: 0;
        display: none;
        max-height: 100vh;
        padding: 9.4rem 0 2rem;
        border-radius: 0 0 .4rem .4rem;
        box-shadow: 0 2.3rem 4rem 0 rgba(0, 0, 0, .07), 0 1.6rem 3.2rem 0 hsla(0, 0%, 82%, .5);
        opacity: 0;
        overflow-y: auto;
        text-align: center;
        transition: opacity .25s cubic-bezier(.45, .05, .55, .95) 0ms
      }
      .header__menu, .header__menu:after {
        position: fixed;
        top: 0;
        left: 0;
        background: #fff
      }
      .header__menu:after {
        z-index: 0;
        display: block;
        width: 100vw;
        height: 100vh;
        content: "";
        opacity: .6
      }
      .header__menu:before {
        position: fixed;
        z-index: 4;
        top: -.1rem;
        right: 0;
        left: 0;
        height: 9.4rem;
        border-bottom: .1rem solid #f1f8fe;
        background: #fff;
        content: ""
      }
    }
    @media only screen and (min-width:1140px) {
      .header__menu {
        display: -webkit-flex;
        display: flex;
        width: auto;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center
      }
    }
    @media only screen and (max-width:1139px) {
      .header__menu--show {
        display: block
      }
    }
    @media only screen and (max-width:1139px) {
      .header__menu--active {
        opacity: 1
      }
    }
    @media only screen and (max-width:1139px) {
      .header__menu--active-submenu {
        overflow-y: hidden
      }
    }
    @media only screen and (min-width:1140px) {
      .header--transparent-white {
        background: hsla(0, 0%, 100%, .8)
      }
    }
    @media only screen and (min-width:1140px) {
      .header--transparent {
        background: transparent
      }
    }
    .header--sticky {
      width: 100%;
      border-bottom: .1rem solid #f1f8fe;
      background: #fff;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%)
    }
    .header--sticky:hover, .header--stickyShow {
      -webkit-transform: translateY(0);
      transform: translateY(0)
    }
    @media only screen and (min-width:1140px) {
      .header--small .header__menu .menu__link {
        padding-right: 1.6rem;
        padding-left: 1.6rem
      }
      .header--small .header__menu .menu__link:before {
        right: .5rem
      }
    }
    .jumbotron {
      position: relative;
      -webkit-align-items: center;
      align-items: center;
      padding: 11.4rem 1rem 7.6rem;
      margin: 0;
      background-color: #fff;
      background-position: center bottom 5rem;
      background-repeat: no-repeat;
      background-size: 100% auto;
      text-align: center
    }
    @media only screen and (min-width:768px) {
      .jumbotron {
        display: -webkit-flex;
        display: flex;
        height: 100vh;
        min-height: 100vh;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        justify-content: center;
        padding: 9.4rem 1.4rem;
        background-position: center bottom 10rem
      }
    }
    @media only screen and (min-width:1140px) {
      .jumbotron {
        padding: 11.4rem 1.7rem;
        background-position-y: 11.4rem
      }
    }
    .jumbotron--home {
      background-image: url(https://cdn-images.zety.com/images/zety/landings/home/jumbotron-768@1_25x.jpg)
    }
    @media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
      .jumbotron--home {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/home/jumbotron-768@2x.jpg)
      }
    }
    @media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
      .jumbotron--home {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/home/jumbotron-768@3x.jpg)
      }
    }
    @media only screen and (min-width:768px) {
      .jumbotron--home {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/home/jumbotron-1140@1_25x.jpg)
      }
    }
    @media only screen and (min-width:768px) and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-width:768px) and (min-resolution:144dpi) {
      .jumbotron--home {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/home/jumbotron-1140@2x.jpg)
      }
    }
    @media only screen and (min-width:768px) and (-webkit-min-device-pixel-ratio:3), only screen and (min-width:768px) and (min-resolution:288dpi) {
      .jumbotron--home {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/home/jumbotron-1140@3x.jpg)
      }
    }
    @media only screen and (min-width:1140px) {
      .jumbotron--home {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/home/jumbotron-1920@1_25x.jpg)
      }
    }
    @media only screen and (min-width:1140px) and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-width:1140px) and (min-resolution:144dpi) {
      .jumbotron--home {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/home/jumbotron-1920@2x.jpg)
      }
    }
    .jumbotron--career-course {
      background-color: #f7faff;
      background-image: url(https://cdn-images.zety.com/images/zety/landings/career-course/career-course-jumbotron-768@1_25x.jpg)
    }
    @media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
      .jumbotron--career-course {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/career-course/career-course-jumbotron-768@2x.jpg)
      }
    }
    @media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
      .jumbotron--career-course {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/career-course/career-course-jumbotron-768@3x.jpg)
      }
    }
    @media only screen and (min-width:768px) {
      .jumbotron--career-course {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/career-course/career-course-jumbotron-1140@1_25x.jpg);
        background-position: bottom
      }
    }
    @media only screen and (min-width:768px) and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-width:768px) and (min-resolution:144dpi) {
      .jumbotron--career-course {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/career-course/career-course-jumbotron-1140@2x.jpg)
      }
    }
    @media only screen and (min-width:768px) and (-webkit-min-device-pixel-ratio:3), only screen and (min-width:768px) and (min-resolution:288dpi) {
      .jumbotron--career-course {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/career-course/career-course-jumbotron-1140@3x.jpg)
      }
    }
    @media only screen and (min-width:1140px) {
      .jumbotron--career-course {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/career-course/career-course-jumbotron-1920@1_25x.jpg)
      }
    }
    @media only screen and (min-width:1140px) and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-width:1140px) and (min-resolution:144dpi) {
      .jumbotron--career-course {
        background-image: url(https://cdn-images.zety.com/images/zety/landings/career-course/career-course-jumbotron-1920@2x.jpg)
      }
    }
    .jumbotron--praca-startup {
      background-color: #f7faff;
      background-image: url(https://cdn-images.zety.com/images/im/landings/startup-jobs/career-course-jumbotron-768@1_25x.jpg)
    }
    @media only screen and (max-width:767px) {
      .jumbotron--praca-startup {
        min-height: 50rem;
        background-position: bottom
      }
    }
    @media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
      .jumbotron--praca-startup {
        background-image: url(https://cdn-images.zety.com/images/im/landings/startup-jobs/career-course-jumbotron-768@2x.jpg)
      }
    }
    @media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
      .jumbotron--praca-startup {
        background-image: url(https://cdn-images.zety.com/images/im/landings/startup-jobs/career-course-jumbotron-768@3x.jpg)
      }
    }
    @media only screen and (min-width:768px) {
      .jumbotron--praca-startup {
        min-height: 40rem;
        max-height: 100rem;
        background-image: url(https://cdn-images.zety.com/images/im/landings/startup-jobs/career-course-jumbotron-1140@1_25x.jpg);
        background-position: bottom
      }
    }
    @media only screen and (min-width:768px) and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-width:768px) and (min-resolution:144dpi) {
      .jumbotron--praca-startup {
        background-image: url(https://cdn-images.zety.com/images/im/landings/startup-jobs/career-course-jumbotron-1140@2x.jpg)
      }
    }
    @media only screen and (min-width:768px) and (-webkit-min-device-pixel-ratio:3), only screen and (min-width:768px) and (min-resolution:288dpi) {
      .jumbotron--praca-startup {
        background-image: url(https://cdn-images.zety.com/images/im/landings/startup-jobs/career-course-jumbotron-1140@3x.jpg)
      }
    }
    @media only screen and (min-width:1140px) {
      .jumbotron--praca-startup {
        background-image: url(https://cdn-images.zety.com/images/im/landings/startup-jobs/career-course-jumbotron-1920@1_25x.jpg)
      }
    }
    @media only screen and (min-width:1140px) and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-width:1140px) and (min-resolution:144dpi) {
      .jumbotron--praca-startup {
        background-image: url(https://cdn-images.zety.com/images/im/landings/startup-jobs/career-course-jumbotron-1920@2x.jpg)
      }
    }
    .jumbotron__button {
      margin-right: auto;
      margin-left: auto
    }
    .jumbotron__buttons .jumbotron__button {
      margin: 0 1rem 1rem
    }
    @media only screen and (min-width:768px) {
      .jumbotron__buttons .jumbotron__button {
        margin: 0 1rem
      }
    }
    .jumbotron h1 {
      font-size: 3.5rem;
      line-height: 1.15
    }
    @media only screen and (min-width:768px) {
      .jumbotron h1 {
        font-size: 4.4rem;
        line-height: 1.23
      }
    }
    .jumbotron p {
      margin-top: 3rem;
      color: #676b78;
      font-size: 1.6rem;
      font-weight: 400
    }
    .trustpilot {
      padding-right: 2rem;
      padding-left: 2rem
    }
    @media only screen and (min-width:768px) {
      .trustpilot {
        padding-right: 2.8rem;
        padding-left: 2.8rem
      }
    }
    @media only screen and (min-width:1140px) {
      .trustpilot {
        padding-right: 3.4rem;
        padding-left: 3.4rem
      }
    }
    .trustpilot__title {
      margin-bottom: 10rem
    }
    @media only screen and (max-width:767px) {
      .trustpilot-widget {
        width: 100vw;
        padding-right: 0;
        padding-left: 0;
        margin-left: -2rem
      }
    }
    .two-column__block-text {
      padding-top: 17rem;
      background-position: center 3rem;
      background-repeat: no-repeat;
      background-size: 14.2rem 14.2rem
    }
    @media only screen and (min-width:768px) {
      .two-column__block-text {
        padding-top: 26rem;
        background-position: left 22%
      }
    }
    .two-column__block-text--resumebuilder {
      background-image: url(https://cdn-images.zety.com/images/common/icons/icon-resume-builder@1_25x.png)
    }
    @media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
      .two-column__block-text--resumebuilder {
        background-image: url(https://cdn-images.zety.com/images/common/icons/icon-resume-builder@2x.png)
      }
    }
    @media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
      .two-column__block-text--resumebuilder {
        background-image: url(https://cdn-images.zety.com/images/common/icons/icon-resume-builder@3x.png)
      }
    }
    .two-column__block-text--coverletter {
      background-image: url(https://cdn-images.zety.com/images/common/icons/icon-cover-letter@1_25x.png)
    }
    @media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
      .two-column__block-text--coverletter {
        background-image: url(https://cdn-images.zety.com/images/common/icons/icon-cover-letter@2x.png)
      }
    }
    @media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
      .two-column__block-text--coverletter {
        background-image: url(https://cdn-images.zety.com/images/common/icons/icon-cover-letter@3x.png)
      }
    }
    .two-column__block-text--noicon {
      padding-top: 4rem
    }
    @media only screen and (min-width:768px) {
      .two-column__block-text--noicon {
        padding-top: 13rem
      }
    }
    @media only screen and (min-width:1140px) {
      .two-column__block-text--noicon {
        padding-top: 22rem
      }
    }
    .two-column--right .grid__row {
      -webkit-flex-direction: column-reverse;
      flex-direction: column-reverse
    }
    @media only screen and (min-width:768px) {
      .two-column--right .grid__row {
        -webkit-flex-direction: row;
        flex-direction: row
      }
    }
    .two-column__block-image {
      max-height: 100%;
      margin: 2rem 0
    }
    @media only screen and (min-width:768px) {
      .two-column__block-image {
        max-width: none;
        max-height: 56.1rem;
        margin: 0 4rem
      }
      .two-column--right .two-column__block-image {
        float: right
      }
    }
    @media only screen and (min-width:1140px) {
      .two-column__block-image {
        max-height: 78rem;
        margin: 0 6rem
      }
    }
    .two-column__block-image--small {
      max-height: 50rem;
      margin-top: 12.5rem
    }
    .two-column__image-wrapper {
      position: relative;
      display: block;
      margin-top: 12.5rem
    }
    @media only screen and (min-width:768px) {
      .two-column__image-wrapper {
        width: 50vw;
        margin-right: 4rem;
        margin-left: 4rem
      }
    }
    @media only screen and (min-width:1140px) {
      .two-column__image-wrapper {
        width: 58.33vw;
        margin-right: 4rem;
        margin-left: 4rem
      }
    }
    @media only screen and (min-width:768px) {
      .two-column__image-wrapper .two-column__block-image {
        margin: 0
      }
    }
    @media only screen and (min-width:1140px) {
      .two-column__image-wrapper .two-column__block-image {
        margin: 0
      }
    }
    .two-column__image-wrapper .two-column__block-image--small {
      max-height: 50rem;
      margin-top: 0
    }
    .two-column__image-wrapper .two-column__button {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%)
    }
    .two-column__image-wrapper:hover .two-column__button {
      opacity: 1
    }
    .two-column__list {
      margin: 2rem 2rem 3rem;
      color: #676b78;
      line-height: 1.5
    }
    .two-column__subtitle {
      margin-bottom: 1rem;
      color: #3983fa;
      font-size: 1.8rem
    }
    @media only screen and (min-width:768px) {
      .two-column__subtitle {
        margin-bottom: 2.2rem
      }
    }
    .two-column__icon {
      display: block;
      margin: 4rem auto 2rem
    }
    @media only screen and (min-width:768px) {
      .two-column__icon {
        margin: 0 0 2.8rem
      }
    }
    .two-column__title {
      margin: 0 0 2rem
    }
    @media only screen and (min-width:768px) {
      .two-column__title {
        margin: 0 0 2.8rem
      }
    }
    .two-column__button {
      width: 100%
    }
    @media only screen and (min-width:768px) {
      .two-column__button {
        width: auto
      }
    }
    .two-column__description {
      margin-bottom: 2rem;
      color: #676b78;
      line-height: 1.5
    }
    @media only screen and (min-width:768px) {
      .two-column__description {
        max-width: 38rem;
        margin-bottom: 3.2rem;
        line-height: 2
      }
    }
    @media only screen and (min-width:1140px) {
      .two-column__description {
        max-width: 38rem
      }
    }
    .two-column__wrapper:before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 10rem;
      content: "";
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMDIgMTQwIj48cGF0aCBmaWxsPSIjMzk4M0ZBIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMTMuNDc3IDEzNkw0NC40OTUgNjUuMzM1Yy0uNzUzLS43NzItMi4xMDktLjc3Mi0yLjg2MiAwTDQgMTAzLjg4N1Y0aDE5NHYxMDEuMTMxbC01NC44NDEtNTYuMThjLS43NTMtLjc3MS0yLjExLS43NzEtMi44NjIgMGwtNDcuMzcgNDguNTI2YTIgMiAwIDEwMi44NjIgMi43OTRsNDUuOTM5LTQ3LjA2IDU1Ljk2NCA1Ny4zM2MuMDk1LjA5OC4xOTkuMTgzLjMwOC4yNTdWMTM2aC04NC41MjN6TTQgMTA5LjYxM2wzOS4wNjQtNDAuMDE4TDEwNy44ODcgMTM2SDR2LTI2LjM4N3pNMjAwIDBhMiAyIDAgMDEyIDJ2MTM2YTIgMiAwIDAxLTIgMkgyYTIgMiAwIDAxLTItMlYyYTIgMiAwIDAxMi0yaDE5OHptLTk4LjM1MSA0Ni4wMTdjMC05LjcxNy03LjczOS0xNy42MjItMTcuMjUtMTcuNjIycy0xNy4yNSA3LjkwNS0xNy4yNSAxNy42MjJjMCA5LjcxNyA3LjczOSAxNy42MjIgMTcuMjUgMTcuNjIyczE3LjI1LTcuOTA1IDE3LjI1LTE3LjYyMnptLTE3LjI1IDEzLjYyMmMtNy4zMDYgMC0xMy4yNS02LjExMS0xMy4yNS0xMy42MjJzNS45NDQtMTMuNjIyIDEzLjI1LTEzLjYyMiAxMy4yNSA2LjExIDEzLjI1IDEzLjYyMmMwIDcuNTEtNS45NDQgMTMuNjIyLTEzLjI1IDEzLjYyMnoiLz48L3N2Zz4=);
      z-index: -1;
      background-position: 50% 90%
    }
    @media only screen and (min-width:768px) and (max-width:1139px) {
      .two-column__wrapper:before {
        background-position: 80% 17%
      }
    }
    @media only screen and (min-width:1140px) {
      .two-column__wrapper:before {
        background-position: 74% 35%
      }
    }
    .two-column__wrapper--image {
      margin-top: 12.5rem
    }
    .two-column__wrapper--image:before {
      background-position: 50% 90%
    }
    @media only screen and (min-width:768px) and (max-width:1139px) {
      .two-column__wrapper--image:before {
        background-position: 80% 60%
      }
    }
    @media only screen and (min-width:1140px) {
      .two-column__wrapper--image:before {
        background-position: 60% 50%
      }
    }
    @media only screen and (max-width:767px) {
      .two-column__wrapper--image {
        display: -webkit-flex;
        display: flex;
        height: 22.5rem;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center
      }
    }
    @media only screen and (min-width:768px) {
      .two-column__wrapper--image img[width] {
        width: auto
      }
    }
    .two-column__wrapper--image .two-column__block-image {
      margin-top: 0;
      margin-bottom: 0
    }
    .review-item {
      display: none;
      text-align: center
    }
    @media only screen and (min-width:768px) {
      .review-item {
        display: block
      }
    }
    .review-item--offset {
      padding: 1rem 0 3.5rem
    }
    @media only screen and (min-width:768px) {
      .review-item--offset {
        padding: 12rem 1.5rem 0
      }
    }
    .review-item--offset:nth-child(2), .review-item--offset:nth-child(5) {
      display: block
    }
    @media only screen and (min-width:768px) {
      .review-item--offset:nth-child(2), .review-item--offset:nth-child(5) {
        margin-top: -9rem
      }
    }
    .review-item__image {
      max-width: 20rem;
      border-radius: 100%
    }
    .review-item__description {
      padding: 0 1rem;
      margin: 3rem auto;
      color: #676b78;
      font-size: 1.6rem;
      font-style: italic;
      font-weight: 400;
      line-height: 1.5
    }
    @media only screen and (min-width:768px) {
      .review-item__description {
        margin: 3rem auto;
        line-height: 1.7
      }
    }
    .review-item__name {
      color: #233143;
      font-size: 2.2rem;
      font-weight: 500
    }
    @media only screen and (min-width:768px) {
      .review-item__name {
        font-size: 1.8rem
      }
    }
    .review-item__profession {
      margin: .5rem 0;
      color: #3983fa;
      font-size: 1.6rem;
      font-weight: 400
    }
    .quote {
      position: relative;
      max-width: 70%;
      margin-top: 3.5rem
    }
    @media only screen and (min-width:1140px) {
      .quote {
        max-width: 75rem
      }
    }
    .quote:after, .quote:before {
      position: absolute;
      display: block;
      width: 3.2rem;
      height: 3.2rem;
      background: url(https://cdn-images.zety.com/images/common/icons/quotes@1_25x.png) no-repeat 50%/100% auto;
      content: ""
    }
    @media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
      .quote:after, .quote:before {
        background-image: url(https://cdn-images.zety.com/images/common/icons/quotes@2x.png)
      }
    }
    @media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
      .quote:after, .quote:before {
        background-image: url(https://cdn-images.zety.com/images/common/icons/quotes@3x.png)
      }
    }
    .quote:before {
      top: -4rem;
      left: -4rem
    }
    @media only screen and (min-width:768px) {
      .quote:before {
        right: -3rem;
        bottom: -3rem
      }
    }
    .quote:after {
      right: -3rem;
      bottom: -3rem;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg)
    }
    .left-right {
      padding: 3rem 0 4rem
    }
    .left-right, .left-right__image {
      position: relative
    }
    .left-right__image:before {
      position: absolute;
      z-index: 1;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMDIgMTQwIj48cGF0aCBmaWxsPSIjMzk4M0ZBIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMTMuNDc3IDEzNkw0NC40OTUgNjUuMzM1Yy0uNzUzLS43NzItMi4xMDktLjc3Mi0yLjg2MiAwTDQgMTAzLjg4N1Y0aDE5NHYxMDEuMTMxbC01NC44NDEtNTYuMThjLS43NTMtLjc3MS0yLjExLS43NzEtMi44NjIgMGwtNDcuMzcgNDguNTI2YTIgMiAwIDEwMi44NjIgMi43OTRsNDUuOTM5LTQ3LjA2IDU1Ljk2NCA1Ny4zM2MuMDk1LjA5OC4xOTkuMTgzLjMwOC4yNTdWMTM2aC04NC41MjN6TTQgMTA5LjYxM2wzOS4wNjQtNDAuMDE4TDEwNy44ODcgMTM2SDR2LTI2LjM4N3pNMjAwIDBhMiAyIDAgMDEyIDJ2MTM2YTIgMiAwIDAxLTIgMkgyYTIgMiAwIDAxLTItMlYyYTIgMiAwIDAxMi0yaDE5OHptLTk4LjM1MSA0Ni4wMTdjMC05LjcxNy03LjczOS0xNy42MjItMTcuMjUtMTcuNjIycy0xNy4yNSA3LjkwNS0xNy4yNSAxNy42MjJjMCA5LjcxNyA3LjczOSAxNy42MjIgMTcuMjUgMTcuNjIyczE3LjI1LTcuOTA1IDE3LjI1LTE3LjYyMnptLTE3LjI1IDEzLjYyMmMtNy4zMDYgMC0xMy4yNS02LjExMS0xMy4yNS0xMy42MjJzNS45NDQtMTMuNjIyIDEzLjI1LTEzLjYyMiAxMy4yNSA2LjExIDEzLjI1IDEzLjYyMmMwIDcuNTEtNS45NDQgMTMuNjIyLTEzLjI1IDEzLjYyMnoiLz48L3N2Zz4=);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 10rem;
      content: ""
    }
    .left-right__image--nooverflow {
      background: #fff
    }
    .left-right:last-child {
      padding-bottom: 0
    }
    @media only screen and (min-width:768px) {
      .left-right {
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        padding: 6rem 4rem
      }
      .left-right:nth-child(odd) {
        -webkit-flex-direction: row-reverse;
        flex-direction: row-reverse
      }
      .left-right:nth-child(odd) .left-right__image {
        text-align: left
      }
      .left-right:nth-child(2n) .left-right__image {
        text-align: right
      }
      .left-right .left-right__image--nooverflow {
        max-width: 90%
      }
      .left-right img, .left-right svg {
        max-width: 54rem
      }
    }
    .left-right:not(:last-child):after {
      position: absolute;
      bottom: 0;
      left: -50%;
      width: 200vw;
      height: .1rem;
      background: #f4f4f4;
      content: ""
    }
    @media only screen and (min-width:1140px) {
      .left-right {
        padding: 8rem 4rem
      }
    }
    .carousel__icon {
      display: -webkit-flex;
      display: flex;
      width: 8.5rem;
      height: 8.5rem;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      margin: 0 auto 1rem;
      background: #e4f0fe;
      border-radius: 50%
    }
    .carousel__icon svg {
      fill: #3983fa
    }
    @media only screen and (min-width:768px) {
      .plan__row {
        -webkit-align-items: center;
        align-items: center
      }
    }
    .plan__list {
      position: relative;
      padding-top: 2.5rem
    }
    @media only screen and (min-width:768px) {
      .plan__list {
        padding: 3.5rem 4rem 0
      }
    }
    @media only screen and (min-width:1140px) {
      .plan__list {
        padding: 4.5rem 4rem 0
      }
    }
    .plan__list:before {
      position: absolute;
      top: 0;
      left: 45%;
      display: block;
      width: 10%;
      height: .2rem;
      background: #838fa0;
      content: ""
    }
    .plan--red .plan__list:before {
      background: #e44747
    }
    .plan--blue .plan__list:before {
      background: #3983fa
    }
    .plan--grey .plan__list:before {
      background: #838fa0
    }
    .plan__list-item {
      position: relative;
      padding-left: 4.5rem;
      margin-bottom: 1.5rem
    }
    @media only screen and (min-width:768px) {
      .plan__list-item {
        margin-bottom: 2.5rem
      }
    }
    @media only screen and (max-width:1139px) {
      .plan__description {
        line-height: 3.3rem
      }
    }
    .plan__list-icon {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 3rem;
      height: 3rem;
      padding: .7rem;
      margin-right: 1.5rem;
      border-radius: 50%
    }
    .plan--red .plan__list-icon {
      background: #e44747
    }
    .plan--grey .plan__list-icon {
      background: #838fa0
    }
    .plan--blue .plan__list-icon {
      background: #3983fa
    }
    @media only screen and (min-width:1140px) {
      .plan__list-icon {
        top: -.5rem
      }
    }
    .plan__wrapper {
      position: relative
    }
    .plan__wrapper:after {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMDIgMTQwIj48cGF0aCBmaWxsPSIjMzk4M0ZBIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMTMuNDc3IDEzNkw0NC40OTUgNjUuMzM1Yy0uNzUzLS43NzItMi4xMDktLjc3Mi0yLjg2MiAwTDQgMTAzLjg4N1Y0aDE5NHYxMDEuMTMxbC01NC44NDEtNTYuMThjLS43NTMtLjc3MS0yLjExLS43NzEtMi44NjIgMGwtNDcuMzcgNDguNTI2YTIgMiAwIDEwMi44NjIgMi43OTRsNDUuOTM5LTQ3LjA2IDU1Ljk2NCA1Ny4zM2MuMDk1LjA5OC4xOTkuMTgzLjMwOC4yNTdWMTM2aC04NC41MjN6TTQgMTA5LjYxM2wzOS4wNjQtNDAuMDE4TDEwNy44ODcgMTM2SDR2LTI2LjM4N3pNMjAwIDBhMiAyIDAgMDEyIDJ2MTM2YTIgMiAwIDAxLTIgMkgyYTIgMiAwIDAxLTItMlYyYTIgMiAwIDAxMi0yaDE5OHptLTk4LjM1MSA0Ni4wMTdjMC05LjcxNy03LjczOS0xNy42MjItMTcuMjUtMTcuNjIycy0xNy4yNSA3LjkwNS0xNy4yNSAxNy42MjJjMCA5LjcxNyA3LjczOSAxNy42MjIgMTcuMjUgMTcuNjIyczE3LjI1LTcuOTA1IDE3LjI1LTE3LjYyMnptLTE3LjI1IDEzLjYyMmMtNy4zMDYgMC0xMy4yNS02LjExMS0xMy4yNS0xMy42MjJzNS45NDQtMTMuNjIyIDEzLjI1LTEzLjYyMiAxMy4yNSA2LjExIDEzLjI1IDEzLjYyMmMwIDcuNTEtNS45NDQgMTMuNjIyLTEzLjI1IDEzLjYyMnoiLz48L3N2Zz4=);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 10rem;
      content: ""
    }
    .plan__image {
      position: relative;
      z-index: 1
    }
    .benefits__item {
      display: -webkit-flex;
      display: flex
    }
    .benefits__text {
      margin-left: 2rem
    }


